[2017-02-08 15:08] njordr opened #1 "issue with doc.List"
Hi.

The following code

[code]

raises this error:
Traceback (most recent call last):
  File "/opt/venv36/spy-rest/lib/python3.6/site-packages/sanic/sanic.py", line 355, in run
    serve(**server_settings)
  File "/opt/venv36/spy-rest/lib/python3.6/site-packages/sanic/server.py", line 305, in serve
    trigger_events(before_start, loop)
  File "/opt/venv36/spy-rest/lib/python3.6/site-packages/san

[2017-02-08 15:22] njordr opened #2 "OpenAPI ref attribute"
Hi.

Is there a way to emulate the behaviour of this ref attribute $ref: "#/definitions/Response" (in BuildingsResponse)?
I need a way to add all the fields of Response inside other responses

[code]

[2017-02-08 15:39] njordr opened #3 "securityDefinitions and parameters"
Hi.

Any chance to include the securityDefinitions section?

Also, is there a way to define the parameters, defining if they are from URL query part, form, body, etc?

[2017-02-13 12:15] toughrogrammer opened #4 "failed to install via pip"
here is error log

[code]

[2017-02-16 23:30] rigratz commented on #4
I've had a similar problem. pip3 installed it fine locally, but throws the same error (except for 'sanic_openapi/ui/lang') when attempting installation within a docker image.

[2017-02-21 10:54] #1 closed

[2017-03-23 11:53] kszucs opened #6 "Support a validation library instead of custom modelling"
Like
 - https://github.com/alecthomas/voluptuous
 - https://github.com/keleshev/schema
 - https://github.com/schematics/schematics

Schematics might be the closest one.
Now I need to duplicate of record definitions.

[2017-03-28 13:05] maxpagels opened #9 "Documentation of GET request query params"
Is it somehow possible to document the required query strings (note: not URL path params) and their types for GET requests? This line https://github.com/channelcat/sanic-openapi/blob/8a7b77f0fbda15061a8132c8a5c163f6ea82afcb/sanic_openapi/openapi.py#L103 suggests that @doc.consumes can only be used for HTTP verbs other than GET and DELETE.

[2017-03-29 07:50] jiajie999 commented on #4
+1 got same error message on  python3.5

[2017-03-29 12:17] sxamit opened #10 "Resources not found"
this is my create_app method:
[code]

/swagger page can't load the resources. It tries to get them from: http://localhost:8000/css/typography.css
but actually they are at
http://localhost:8000/swagger/css/typography.css

Am I doing something wrong?

[2017-03-29 12:24] sxamit commented on #10
The problem was that I tried the endpoint /swagger and not /swagger/ . Any chance to fix this?

[2017-04-06 14:33] kszucs opened #11 "Upgrade to swagger ui 3"
https://github.com/swagger-api/swagger-ui/releases/tag/v3.0.0

[2017-04-07 09:44] channelcat commented on #11
Done!

[2017-04-07 09:44] #11 closed

[2017-04-07 09:48] channelcat commented on #9
I've set it up so consumes will go to query string on GET and DELETE, though I think we still need a plan for POST requests.  maybe:
[code]
What do you think?

[2017-04-07 10:09] maxpagels commented on #9
@channelcat That syntax looks to be pretty self-explanatory. How about POST request with a body _and_ query params? Two separate @consumes decorators?

Not that POST endpoints use both very often, but it's still technically valid.

[2017-04-07 19:27] kszucs commented on #6
I have a quick draft for schematics if anyone interested

[code]

[2017-04-24 16:05] tclarke commented on #9
Very interested in this feature.

[2017-04-24 16:06] tclarke commented on #3
Second question is a duplicate of #9

[2017-04-24 16:07] tclarke commented on #6
"jsonschema" would also be useful

[2017-04-24 16:19] tclarke opened #12 "Does not appear to work with class based routing"
[code]

Does not include the summary.

[2017-05-22 18:30] travisbrady commented on #12
I'm also interested in this. Any help I can provide? Pointers on where to start maybe?

[2017-06-14 16:46] ttpham0111 opened #21 "Allow routes to be excluded"
Is it possible to exclude some urls from the docs?

[2017-06-14 17:38] ttpham0111 opened #22 "/swagger endpoint doesn't work"
`/swagger` endpoint causes [index.html](https://github.com/channelcat/sanic-openapi/blob/master/sanic_openapi/ui/index.html) to look for the assets at `/<file_name>` instead of `/swagger/<file_name`. `/swagger/` works because it generates the correct url.

[2017-06-27 21:27] choobinejad opened #24 "Offline/firewalled mode"
There are several pointers in `swagger-ui.js` and `swagger-ui-bundle.js` to `https://online.swagger.io/validator`. These pointers cause the swagger UI to freeze.

Would it be possible to document "offline deployment" instructions, or even provide a configuration for whether or not the UI should try to access resources on external domains?

[2017-07-18 12:47] vasagan opened #25 "Support for specifying Bearer Token in Authorization Header"
Hello there,

I am not sure if support for this already exists. As far as i looked, i couldn't find.

[2017-07-29 16:12] oddjobz opened #28 "Multiple entries in /swagger/ for the same endpoint"
If I create an endpoint of "/", it appears in the swagger UI once as expected, i.e.;

[code]
If however the endpoint is anything other than "/" , or if I include a prefix in the blue print definition, then I end up getting TWO entries in my swagger UI, i.e;

[code]
Both swagger entries work, but one is listed with a trailing "/" on the URL, and the other is listed without. Is there something I nee

[2017-07-29 16:34] oddjobz commented on #28
Ok, answered my own question, this is actually sanic adding two routes (!) .. solution (for me) seems to be to use the "strict_slashes" option, i.e.;
[code]
Which fixes the problem for me ... :)

[2017-07-29 16:34] #28 closed

[2017-08-03 10:19] xiaobaojiang opened #29 "the api can't show the parameters using @doc.consumes"
code:
[code]
download the "spec.json" file and find the method parameters description:
`"post":{"parameters":[{"format":"int64","in":"path","required":true,"type":"integer","name":"uid"},{"in":"body","name":"body","properties":{"res_json":{"type":"string"},"location":{"type":"string"},"words":{"type":"string"},"type":{"format":"int64","type":"integer"}},"type":"object"}]`
so . firstly I want to ko

[2017-08-16 10:12] raphaeldehoussefaktory commented on #21
+1
We have more "private" methods that we don't want to show in the swagger/openapi docs.
With others library, we just don't document the method and it doesn't appear, here, they're all included.

Thanks!

[2017-08-16 10:13] raphaeldehoussefaktory commented on #21
PR https://github.com/channelcat/sanic-openapi/pull/20

[2017-08-19 07:57] kianxineki commented on #22
Thx!

[2017-08-20 22:09] manuelsotoma commented on #9
is there any news about this feature?
very interested as well

[2017-08-21 18:12] tiangolo commented on #6
There's also `webargs`: https://github.com/sloria/webargs

---

* It seems like `Flask-Restful` was considering migrating to it (although I think Flask-Restful is inactive now): https://github.com/flask-restful/flask-restful/issues/335
* `Flask-Restplus`, that has Swagger integration and started as a fork of `Flask-Restful`, was considering `webargs` too: https://github.com/noirbizarre/flask-restp

[2017-08-27 06:56] Typhon66 commented on #25
@vasagan Looks like @kbfu has a pull request up to add header support that is currently broken. Once that is fixed i'll be happy to merge it in.

[2017-08-27 06:57] Typhon66 commented on #22
@ttpham0111 Can you check the latest version 0.3.0 and let me know if this still occurs?

[2017-08-27 06:58] Typhon66 commented on #21
PR is merged

[2017-08-27 06:58] #21 closed

[2017-08-27 07:00] Typhon66 commented on #12
Right now this doens't support class-based routing. Would like to add it in at some point. If anyone wants to do the work would be glad to merge a PR. If not i'll add it to the list of things to do.

[2017-08-27 07:00] Typhon66 commented on #10
@sxamit Should be fixed in 0.3.0

[2017-08-27 07:00] #10 closed

[2017-08-27 07:01] Typhon66 commented on #9
@manuelsotoma Want to get this done soon. The plan might be to add the "from" parameter to specify where something is in all cases.

[2017-08-27 07:02] Typhon66 commented on #6
This would be great to do. Would want to pick one thats most commonly used to start with but could potentially expand out to support more. Any ideas on which one? Maybe add a poll?

[2017-08-27 07:03] Typhon66 commented on #4
@toughrogrammer Can you check the newest version and see if this still happens?

[2017-08-27 07:04] Typhon66 commented on #3
@njordr We do have a PR up to add headers to the docs. With that we could probably also add in the securityDefinitions

[2017-08-27 07:05] Typhon66 commented on #2
Don't think this is possible currently, would have to do some work to support it.

[2017-08-27 07:06] Typhon66 commented on #24
Would have to look into this.

[2017-08-27 07:08] Typhon66 commented on #29
@EveryIsNormal Can you check version 0.3.0? This seems to be working for me.

[2017-08-27 14:40] tiangolo commented on #6
My 2 cents of what I've seen:

In comparison to the ones listed above, the closest related one would be [Marshmallow](https://github.com/marshmallow-code/marshmallow) which is just a bit more popular. It is a serializer / deserializer with validations.

I know that `Webargs` is based on the same `Marshmallow` fields and schemas.

But `Webargs is specifically made to read parameters from requests (

[2017-08-28 17:13] kszucs commented on #6
Asynchronous orms are good candidates too: [aio]peewee, sqlalchemy,
asyncorm.

On Aug 27, 2017 4:40 PM, "Sebastián Ramírez" <notifications@github.com>
wrote:

My 2 cents of what I've seen:

In comparison to the ones listed above, the closest related one would be
Marshmallow <https://github.com/marshmallow-code/marshmallow> which is just
a bit more popular. It is a serializer / deserializer with va

[2017-08-29 14:44] mpandzo opened #35 "doc in blueprint still documents entire app"
Even though document calls are only done in a blueprint, say a blue print with url prefix /bp/, swagger goes ahead and documents everything including routes in the root.

Is there a way to register or restrict the documenting for only the blueprint prefix?

[2017-08-29 14:45] mpandzo opened #36 "static file documented as endpoint"
I have a static route as follows

    app.static('/robots.txt', './static/robots.txt')

It gets documented with swagger and there is no way to set @doc.exclude(True) for it.

[2017-08-29 14:48] mpandzo opened #37 "specs.json does not take prefix url"
If you register the two blueprints with a prefix as follows:

    app.blueprint(openapi_blueprint, url_prefix='/api/openapi')
    app.blueprint(swagger_blueprint, url_prefix='/api/swagger')

swagger ends up not working at /api/swagger because it looks for the specs.json file at /specs.json instead of /api/specs.json

I believe it is because of this code at the bottom of sanic_openapi/openapi.py

[

[2017-08-29 15:24] mpandzo commented on #37
In ui/index.html,

[code]

Could be changed to

[code]
as well

[2017-08-31 03:21] Feeeenng opened #38 "Can I have a custom response value?"
l fond the default response is 200.now l want set more response. so, l wish
[code]

[2017-09-08 07:44] hsz1273327 opened #42 "how to use this extensions with HTTPMethodView?"
I try to use sanic-openapi with HTTPMethodView like blow:

[code]

but `/swagger` can not show the docs
![image](https://user-images.githubusercontent.com/7850148/30201234-8b559ce4-94ac-11e7-9110-f745135ee75e.png)

[2017-09-09 01:22] fredyw commented on #24
Disabling online validator can be done by setting `validatorUrl` to `null` in `SwaggerUIBundle` of `index.html`. I'm not sure if there's an easy way to configure this in Python, though.

[2017-09-11 02:26] Feeeenng commented on #42
hi.l am  the some  problem. do you resolved ?

[2017-09-11 06:09] Feeeenng opened #47 "consumer dont Traversal"
in 0.4.0.
dict = {'name': {'type': 'string', 'description': 'id name', 'required': True, 'in': 'formData'}, 'abbr': {'type': 'string', 'description': 'name addr ', 'required': True, 'in': 'formData'}}
@doc.consumes(dict)
only name argument, not addr argument.

but in 0.3.0 is suceess !
so.l found bug.
in openapi.py
[code]
so. if is that:
[code]

so. it is be worker .

[2017-09-11 06:30] Feeeenng commented on #47
l has commit pull requests https://github.com/channelcat/sanic-openapi/pull/48

[2017-09-28 16:02] LeonP92 opened #49 "Multiple endpoints created"
The code only consist of one route ('/dummy') yet the swagger UI displays two ('/dummy' and '/dummy/') not sure  why..

<img width="1425" alt="screen shot 2017-09-28 at 12 00 45 pm" src="https://user-images.githubusercontent.com/1584385/30977211-d99bdd9e-a444-11e7-96d9-aa9f225ef9b5.png">

[2017-09-28 16:04] LeonP92 commented on #49
Never mind it's because of strict_slashes being False.

[2017-09-28 16:04] #49 closed

[2017-09-28 18:40] LeonP92 opened #50 "Produces not showing up on Swagger UI?"
I'd assume using `doc.produces({...})` would have something show up in the UI but nothing is showing up.

[2017-10-04 16:55] daenney commented on #50
I can second this, in 0.4.0 models don't get translated into definitions and the `produces` decorator doesn't work correctly (probably as a consequence of it). I've reverted to 0.3.0 which does what you'd expect.

[2017-10-13 15:16] olexandr-klymenko opened #51 "No support custom status code in responses"
There should be a way to configure custom (not 200) status code in response like in flask-restplus:
from flask_restplus import Namespace
ns = Namespace('Wallet')
...
@ns.response(201, 'Wallet created')
...
@ns.response(404, 'Wallet not found')

something like:
@doc.response(404, 'Wallet not found')

[2017-10-18 17:51] joar commented on #50
@daenney A possible workaround is:

[code]

[2017-11-20 23:04] Puneeth-n opened #53 "specify description of headers"
How does one specify description for headers? For example in:

[code]

[2017-11-26 20:05] oddjobz commented on #51
Hi, I've just submitted a PR for my implementation of this;
[code]

[2017-11-26 20:08] oddjobz opened #55 "Documenting passed parameters"
Hi, can someone tell me whether there is an easy way of documenting path parameters, it seems to be eluding me if it's there .. for example;
[code]
Essentially I'm looking to be able to associate a description with "file_name" so I can display it on the Swagger UI next to the name/type .. (?) Maybe something like this;
[code]

[2017-12-11 18:46] clintharris commented on #50
same issue with `0.4.0`. @joar's work-around worked, though (thanks).

[2017-12-12 06:57] imnisen commented on #50
same issue with `0.4.0`.

[2018-01-10 14:37] DirkGuijt opened #57 "Swagger UI doesn't show a textarea for the body in the "Try it out" functionality"
I'm on version 0.4.0 and my swagger UI doesn't seem to show a body textarea where I can modify the body when trying out an API endpoint.

You can resproduces this (hopefully) by copying the `/user ` endpoint from the readme file:

[code]

When you click "Try it out" on the `/user` endpoint on the Swagger UI, you can't modify the body. Because of this, you can't even execute the call if you make th

[2018-01-12 15:11] DirkGuijt commented on #37
Can we please get this small fix in? That would be great!

[2018-01-18 17:44] mholiv commented on #42
Is this a supported use case? Also running into this issue.

[2018-01-21 13:47] DirkGuijt commented on #57
this was due to an error in the generated openapi spec.json, fixed it in pull request #58

[2018-01-21 13:47] #57 closed

[2018-01-21 13:58] DirkGuijt commented on #37
I made a change in PR #58 which fixes this and the calls in swagger itself (you have to specify a basePath in the config also according the the OpenAPI 2.0 spec)

[2018-02-09 04:15] xNinjaKittyx opened #59 "Override Swagger-UI CSS"
Is there a way to override the swagger-ui CSS?

[2018-02-13 17:32] silver8ack commented on #29
confirmed, this is broken in 0.4.0.  Works in 0.3.0(now if I can figure out how to get in in the body instead of query).

[2018-02-13 17:41] silver8ack commented on #29
Just realized it works if you use a class instead of a dict..

[code]

[2018-02-22 15:27] RemiDesgrange commented on #9
Any improvement on that ? note that you cannot use `from` since it's a reserved keyword

[2018-03-01 07:07] cptm0rgan commented on #25
IS there any progress on this topic?

[2018-03-09 08:27] DirkGuijt commented on #25
My pull request #58 supports this. It has been open for a while not though...

[2018-03-09 08:28] DirkGuijt commented on #38
My pull request #58 supports this. It has been open for a while now though...

[2018-03-23 14:38] checkaayush opened #60 "Duplicate endpoint entries"
![screenshot from 2018-03-23 20-06-46](https://user-images.githubusercontent.com/4137581/37835276-c9468b12-2ed5-11e8-8b5f-c0338009d2c9.png)

For the garage example listed in readme, why are there 2 entries in generated swagger config? Or am I missing something and this is the expected behavior?

[2018-03-27 13:44] sunhailin-Leo opened #61 "A little question of decorator"
When @doc decorator is front of the @cross_origin (Sanic-Cors), @doc will not effect. :flushed:

If like this @doc will not effect.
![_20180327214147](https://user-images.githubusercontent.com/17564655/37971080-af19c742-3207-11e8-9384-e5110e62b822.png)

When i change like this it work.
![_20180327214249](https://user-images.githubusercontent.com/17564655/37971149-d05c1810-3207-11e8-984e-6ddc183b81

[2018-03-27 13:49] sunhailin-Leo opened #62 "How to change the route of spec.json"
![_20180327214555](https://user-images.githubusercontent.com/17564655/37971328-3d2c1454-3208-11e8-9147-ca0615d280a7.png)

Change the swagger route it work, but openapi/spec.json route still in root route.

Picture is here.
![_20180327214851](https://user-images.githubusercontent.com/17564655/37971499-ae35b15a-3208-11e8-8aad-3b0495670dbd.png)

How can I change it? :simple_smile:

[2018-04-13 09:42] aranya-danno commented on #42
+1

[2018-04-26 12:14] c-goosen opened #63 "@doc.produces & @doc.consumes not working"
Hi.

Tried a couple of things and @doc.consumes & @doc.produces isn't working.

Could it be related to using sanic's blueprints?

Will try and have a look myself if I have some time.

CG

[2018-04-27 08:56] junxi3166 commented on #42
+1

[2018-05-02 17:25] robertorobles commented on #63
+1

[2018-05-03 12:27] DirkGuijt commented on #60
There is a 'strict_slashes' setting which is 'False' by default. That means that you can call the endpoints with or without the trailing slash, so they both show in the documentation as they are both valid. If you want to be more strict you can turn 'strict_slashes' on like this:

`app = Sanic(app_name, strict_slashes=True)`

[2018-05-03 12:28] DirkGuijt commented on #59
You would have to modify the files in the UI folder itself. What are you trying to achieve?

[2018-05-03 13:58] checkaayush commented on #60
Awesome. Thanks. :blush:

[2018-05-03 13:59] #60 closed

[2018-05-04 07:38] c-goosen commented on #63
Think I was missing something so closing this for now. If I see something else I will rather open a issue again. Thanks

[2018-05-04 07:38] #63 closed

[2018-05-18 16:40] jasper9 commented on #24
+1 for this

[2018-06-27 19:05] notnami opened #68 "Project looks dead"
The latest release contains at least one show-stopping bug (#50), and contains other errors. Meanwhile, there are 12 pull requests which have been sitting unmerged (and likely not even reviewed) for months.

It seems that @Typhon66 can no longer maintain this project. Is it possible to add another maintainer to the project and at least merge all the working PRs? I cannot dedicate a significant amo

[2018-07-13 14:12] txomon commented on #6
IMO, the best investement is to go directly for Marshmallow. It's the way people is handling (un)marshalling, it has a really stable API, and won't probably go down soon, as opposed to most of the other projects.

Finally, the fact of using sanic doesn't mean you will have an ORM below, and by supporting directly an ORM you are effectively doing vendor lock-in, and leaving out anyone not using an

[2018-07-13 22:52] kivo360 commented on #68
Holy crap that's a lot PR. Is there anyway to link people from outside of this project to help out? It seems pretty useful for the life of sanic.

[2018-07-18 00:19] psiofxt opened #69 "@doc.route(...) does not work with any consumes arguments"
[code]

This doesn't allow the server to start, something with how the consumes argument is assigned.

[2018-08-16 09:09] autogestion commented on #60
@DirkGuijt  what if don't want be more strict with urls, but still want to get rid of duplications in swagger?

[2018-08-16 09:10] autogestion commented on #68
Any volunteer, which ready to maintain a fork? :)

[2018-08-16 09:54] DirkGuijt commented on #60
@autogestion It is probably by design that it shows in the openapi spec with ánd without slash if you're not strict about it (I didn't make that design decision btw :P I'm just guessing here). You can always change to code and make a PR if you want, which should get merged if enough people support it. Though I doubt anything will get merged, the maintainers seem to have completely vanished...

[2018-08-16 13:16] abatilo commented on #68
There's a pseudo fork, with attrs support:
https://github.com/vltr/sanic-attrs/

[2018-09-24 05:01] #29 closed

[2018-09-25 08:10] TheGrandmother opened #70 "Having the password exposed?"
I don't really know the nature of how pypi handles authorization, but is it really a good idea to have the password made public here?

https://github.com/huge-success/sanic-openapi/blob/7b5cbf12726d9e35a448aafedde97a36f1aa20f8/.travis.yml#L12

[2018-10-04 08:37] DirkGuijt commented on #68
Sanic has turned into a community driven project now (https://sanicframework.org/) and the community has gained control over the releases, PRs and such. There are no clear plans on sanic-openapi yet, but it might become community driven as well. At least control of the project is in the same hands as the sanic project now. So better times ahead I think...

[2018-10-04 19:47] ahopkins commented on #68
@DirkGuijt Thanks for posting this. As you said, we are working to build the community, and have this repo and the `sanic` repo under the same umbrella right now. Just today we put up a discussion board: https://community.sanicframework.org/.

To be entirely honest, most (if not all) of the attention has been on organizing `sanic`. Not that this repo has been forgotten, but we only have so many vo

[2018-10-04 19:48] ahopkins commented on #70
Of course! And, while we are at it, the password to my bank account is `password123`. That's secure enough, right?

[2018-10-04 19:51] ahopkins commented on #70
https://docs.travis-ci.com/user/encryption-keys/

[2018-10-04 19:51] #70 closed

[2018-10-09 14:06] vltr commented on #68
@DirkGuijt sorry for haven't find time to jump in this issue before. Yes, indeed, `sanic-openapi` does need **A LOT** of care because it really seems abandoned for some time now. Even I made a fork of it called [sanic-attrs](https://github.com/vltr/sanic-attrs), which I later archived in favour of @abatilo 's [sanic-swagger](https://github.com/abatilo/sanic-swagger).

As @ahopkins stated, we have

[2018-10-13 00:03] abatilo commented on #68
@ahopkins That would be awesome. What steps do I need to take to get that started?

[2018-10-13 21:10] ahopkins commented on #68
@abatilo Welcome to the team. 😁

[2018-10-13 21:18] abatilo commented on #68
@ahopkins Thank you! Happy to be here. Random question. Does anyone have the sanic-openapi PyPI credentials? Otherwise we might just want to rename this repo and stick with the sanic-swagger PyPI entry that I started?

[2018-10-13 21:31] ahopkins commented on #68
We are working on it: https://github.com/pypa/warehouse/issues/4832

I am closing this issue for because @abatilo is going to help us bring it back from the dead. 👍 Feel free to carry on the conversation.

I think we should try and keep the `sanic-openapi` for now. It already has a significant usage, and seems less disruptive.

[2018-10-13 21:31] #68 closed

[2018-10-13 22:12] vltr commented on #68
Agreed! Welcome, @abatilo ! :muscle:

[2018-10-26 00:49] mackeyja92 opened #71 "Unmaintained?"
This project looks in need of some assistance. There are several open PRs with some greatly needed fixes. Willing to assist as needed.

[2018-11-12 13:41] ahopkins commented on #71
@mackeyja92 Awesome! @abatilo was also willing to work on this ... not sure where he is at. I think we need to start a conversation about how to bring this "back online".

[2018-11-12 13:45] abatilo commented on #71
Last I remember, we were trying to figure out how to get the PyPI
credentials so that we can actually work on this and update it. Has that
changed at all?

On Mon, Nov 12, 2018 at 6:41 AM Adam Hopkins <notifications@github.com>
wrote:

[2018-11-12 14:05] ahopkins commented on #71
Yes, we have pypi access

[2018-11-12 14:13] ahopkins commented on #71
I'm thinking we need to add a new team and setup a discussion on the forum. What else?

[2018-11-23 14:44] saeedghx68 opened #73 "Authorized Option in swagger"

[2018-11-23 14:47] saeedghx68 opened #74 "sanic-openapi and sanic-jwt"
I use sanic-openapi and sanic-jwt
How to set `@doc.consumes` and  `@doc.produces` for below API's of sanic-jwt

[2018-11-25 15:53] saeedghx68 commented on #74
I implement by this code

[code]

[2018-11-25 15:53] #74 closed

[2018-12-03 07:33] mt-rahul commented on #57
Are the fixes yet to be merged with the master branch? I am still facing the same issue.

[2018-12-12 11:35] endafarrell commented on #22
sanic-openapi ``0.4.0`` on sanic ``0.8.3`` in python ``3.7.1`` works on ``/swagger`` - but not on ``/swagger/`` (due to "<script src="./swagger/swagger-ui-bundle.js"> </script>" pointing to ``/swagger/swagger/swagger-ui-bundle.js`` - note the double "/swagger")

[2018-12-12 11:48] endafarrell opened #75 "Exclude routes"
#21 is closed, but its fix only half-works:

* routes excluded with ``@doc.route(exclude=True)`` do not appear in the swagger UI, but,
* they are listed (although empty) in the ``/openapi/spec.json``

My expectation is that an "excluded" route would not appear in either the ``openapi/spec.json`` or the swagger UI.

[2019-01-14 05:51] skewty commented on #6
I agree that ORM support is not a good direction. Relational databases / ORMs usually don't model complex objects nicely.

[Marshmallow](https://marshmallow.readthedocs.io/en/3.0/) and [JSON Schema](https://json-schema.org/) are the two big players as far as I can tell.

JSON schema is more portable to other languages IMO.  For example, JSON Schema has [client side frameworks to help with web UI g

[2019-01-14 06:20] skewty commented on #6
Also note, JSON schema works with [pydantic](https://pydantic-docs.helpmanual.io/#schema-creation)

pydantic can export JSON schema

[python json schema validator](https://github.com/Julian/jsonschema)

[javascript forms from json schema](https://github.com/jdorn/json-editor)

[2019-01-14 06:49] tiangolo commented on #6
A quick update from my side.

As @skewty says, Pydantic now supports standard JSON Schema (actually I implemented that :smile: ).

OpenAPI 3.0 (formerly known as Swagger in versions 2.0 and below) uses JSON Schema in its definitions.

So, now it's not OpenAPI `OR` JSON Schema. OpenAPI 3.0 *includes* JSON Schema (by this point I think I know those specs by memory :joy: ).

**Note**: OpenAPI uses a

[2019-01-14 16:37] sloria commented on #6
Minor correction: APISpec does support OpenAPI 3.0. You can pass `3.x.x` to the `openapi_version` parameter, which will make `spec.to_dict()` generate an OpenAPI 3 spec.

[code]

https://github.com/marshmallow-code/apispec/issues/165 is still an open issue because v3 support can and will be improved. But it's already usable in newer versions of APISpec.

This isn't to put any pressure to use APISp

[2019-01-14 17:23] tiangolo commented on #6
Awesome. Thanks @sloria ! I just updated that comment above.

---

Also, to set the record straight :smiley: :

Let me make it clear that I've been a huge fan of all the work you guys have done with Marshmallow, Webargs, APISpec and Flask-apispec (as [I stated since a couple years ago, above, in this same thread](https://github.com/huge-success/sanic-openapi/issues/6#issuecomment-323814407)).

And

[2019-03-02 17:17] gangtao commented on #36
Yes, I think it is better not to document those static file

[2019-03-02 20:29] gangtao opened #76 "@doc.pruduces not working"
`@dataset_svc.get('/datasets', strict_slashes=True)`
`@doc.summary('list all datasets')`
`@doc.produces([{"name": str, "id": str, "type": str}])`
`async def list_datasets(request):`
`    dataset_class = get_dataset_class('CSV')`
`   try:`
`        datasets = dataset_class.list_datasets()`
`        return response.json(datasets, status=200)`
`    except Exception:`
`        return response.json({},

[2019-03-02 20:34] gangtao commented on #76
it is a duplicated issue of https://github.com/huge-success/sanic-openapi/issues/50
@doc.route() is the workaround

[2019-03-03 01:11] gangtao commented on #69
Yes, I hit the same issue.

[2019-03-15 11:40] jstriebel commented on #71
Any news here? Tbh, the project seems to be quite dead right now.

[2019-03-21 04:56] hampsterx commented on #75
looks like it just needs a one liner to fix (line 144) ..

[code]

(ie the *if* line)

[2019-03-21 19:30] hampsterx commented on #62
#58

just need to wait till xmas to get it merged sigh

[2019-03-23 19:37] ahopkins commented on #71
Dead.... yup. No one has stepped in to maintain it. I'm starting to think it's time to put up a disclaimer on the README.

Anyone out there in taking this in please send me a message on the community forums.

[2019-03-23 22:23] hampsterx commented on #71
well you have pypi access, that is great! The code base itself is very small, I am willing to help maintain it, looks like I am not the only one offering also.

[2019-03-23 23:27] hampsterx commented on #61
the problem is the code is building up a dict (route_specs) using function as the key, adding a decorator before these decorators changes the function (as it's wrapped) so when its building out the final structure it's only finding the pre wrapped ones.

 this and others we could fix post #58 hint hint @ahopkins :)

[2019-03-23 23:45] hampsterx commented on #53
looks like not currently implemented. Description, ref support and a couple of others..

[code]

[2019-03-24 01:52] hampsterx commented on #4
seems specific issue to pip and sanic-openapi at the time. Please close..

[code]

pip 8.1.2
error: can't copy 'sanic_openapi/ui/fonts': doesn't exist or not a regular file

[code]

Successfully installed aiofiles-0.4.0 httptools-0.0.13 multidict-4.5.2 sanic-19.3.1 sanic-openapi-0.1.5 ujson-1.35 uvloop-0.12.2 websockets-6.0

[code]

Successfully installed aiofiles-0.4.0 httptools-0.0.13 multidict-

[2019-03-25 10:53] DirkGuijt commented on #71
I agree, let's first merge some long awaited stuff and go from there. It's better than nothing.

[2019-03-25 18:21] ahopkins commented on #71
OK. I will look over the PRs and merge what I can. But, I've never used this, nor do I have the time to maintain it going forward so I'm still happy to give access to someone that wants to do something with this.

[2019-03-26 15:06] jstriebel commented on #71
Ok, I just had a look at different places of people that might have or already mentioned their interest in taking over this repository:
* @DirkGuijt (PR https://github.com/huge-success/sanic-openapi/pull/58)
* @chenjr0719 ([note in forum](https://community.sanicframework.org/t/status-of-sanic-openpai/156/5))
* @abatilo (this gh thread)
* @mackeyja92 (this gh thread)
* @FerdinaKusumah (recently upd

[2019-03-26 19:27] #4 closed

[2019-03-26 19:53] ahopkins commented on #71
@jstriebel You rock. Thanks for pulling this together. @hampsterx and @DirkGuijt have just been added as maintainers. @abatilo, if you are still interested, let me know.

Anyone else that may also want a hand, please contact me as mentioned. I am closing this now because I am *hopeful* that this project will be on a new course going forward.

[2019-03-26 19:53] #71 closed

[2019-03-27 15:51] FerdinaKusumah commented on #71
sorry I was late in replying, I saw that this project was not maintained anymore so I decided to add the features I needed in my development and upload them again on Pypi, I would be happy if I could help develop this project, please make me a maintainer too @ahopkins in order to be able to add some additional features.

[2019-03-27 18:20] hampsterx commented on #51
fixed in #58

[2019-03-27 18:20] #51 closed

[2019-03-27 18:30] DirkGuijt commented on #62
Christmas came early this year :P

[2019-03-27 18:31] DirkGuijt commented on #37
this was fixed in #58

[2019-03-27 18:31] #37 closed

[2019-03-27 18:32] DirkGuijt commented on #25
this was fixed in #58

[2019-03-27 18:32] #25 closed

[2019-03-27 18:33] DirkGuijt commented on #38
this was fixed in #58

[2019-03-27 18:33] #38 closed

[2019-03-27 18:35] hampsterx commented on #62
thanks santa Dirk~

[2019-03-27 18:35] #62 closed

[2019-03-27 19:01] hampsterx opened #79 "spec link broken due to relative url"
@DirkGuijt #58 using relative link has caused a small side effect.

https://github.com/swagger-api/swagger-ui/issues/4107

testing using (latest) swagger 3.18.3 seems to work using "./" prefix as suggested in issue above. So quick fix is to upgrade from 3.9.2 I guess

[2019-03-28 03:32] hampsterx commented on #22
seems easiest to change readme to mention it should be at "/swagger/" then change

[code]

ie add "strict_slashes"

leave "/swagger" to generate 404

[2019-03-28 04:07] hampsterx commented on #24
https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/

this is an option as I don't think templating index.html is suitable.

[code]

then have a route for it in swagger.py

[code]

@ahopkins @DirkGuijt I can do a PR for this if happy with this approach. I am in need of this solution also as many of our APIs are internal.

[2019-03-28 04:15] hampsterx commented on #3
securityDefinitions resolved in #58 and params is dup of #9 as noted.

[2019-03-28 04:15] #3 closed

[2019-03-28 06:13] chenjr0719 commented on #76
`@doc.produces()` is worked after merge #58, close this issue.

[2019-03-28 06:13] #76 closed

[2019-03-28 06:14] chenjr0719 commented on #50
`@doc.produces()` is worked after merge #58, close this issue.

[2019-03-28 06:14] #50 closed

[2019-03-28 06:31] chenjr0719 commented on #79
@hampsterx I think I can send a PR to upgrade `swagger-ui` to the latest release(3.22.0), if you don't mind.

[2019-03-28 06:51] hampsterx commented on #79
cool, go for it, i had a look but wasn't sure how to get the dist seems its npm package so wasn't sure how it was done before and or if it had changed.

[2019-03-28 09:18] chenjr0719 commented on #22
Maybe redirect to the right URL would be better than leave it 404, I think.

[2019-03-28 18:25] hampsterx commented on #22
yup agreed, code below is bit ugly but works, open to alternatives..

[code]

[2019-03-29 02:59] chenjr0719 commented on #22
@hampsterx Would you wanna send a PR for this?

[2019-03-29 03:36] chenjr0719 commented on #35
@mpandzo Are you still there? I want to confirm that what you talk about is blueprint scoped swagger?
For example:

test.py:
[code]

bp.py:
[code]
Do you only want to see `bp_echo` be document in swagger?

[2019-03-29 04:25] #79 closed

[2019-04-02 13:55] raphaelauv opened #85 "Bug version 0.5.0"
Hello ! , thank for all your job

unfortunately your last big version do not work with sanic 18.12.0

I have theses Exceptions :

`ERROR:sanic.root:Exception occurred while handling uri: 'http://localhost:8000/swagger-ui.css'
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/sanic/app.py", line 736, in handle_request
    handler, args, kwargs, uri = self.router.get(

[2019-04-02 17:57] chenjr0719 commented on #85
Did you use `/swaager` endpoint? It a know issue, you can check #85 and #22 for more information. This would be fix after merge #83.

[2019-04-06 06:04] gangtao opened #86 "AttributeError: 'list' object has no attribute 'field'"
I am glab to see the latest update to version 0.5.0.
I am hitting this issue after upgrade from 0.4.0 to 0.5.0.

seems it is complaining about the list in produces.

I am using something like this:
`@doc.route(
    summary='list all datasets',
    produces=[{"name": str, "id": str, "type": str, "description": str}],
)`
is that a problem?

[2019-04-06 06:23] gangtao commented on #86
it might caused by using doc.route, switch to doc.produces solve the problem.

[2019-04-06 19:24] chenjr0719 commented on #86
I'm going to reopen this issue because `doc.route()` still support `produces` keyword and it should work without any problem.
I think we have to add some docs/examples to explain how to use `produces` and `consumes`(#69) with `doc.route()`.

[2019-04-07 07:54] raphaelauv commented on #85
Hey thank for your answer , yes I was using /swagger endpoint , is there another endpoint while the #83 is not merged ?

Thank again

[2019-04-07 18:09] ahopkins commented on #85
#83 is merged

[2019-04-07 18:18] raphaelauv commented on #85
Many thanks !!

Will you update the actual release or create a new one ?

[2019-04-07 19:08] hampsterx commented on #22
fixed in 0.5.1

[2019-04-07 19:08] #22 closed

[2019-04-12 17:22] tmaster85 opened #87 "Swagger UI can not start"
----- can be closed ----

[2019-04-13 09:01] #87 closed

[2019-04-22 08:40] pytomtoto opened #90 "TypeError: Object of type type is not JSON serializable"
models
[code]
views
[code]
errors
[code]

sanic version 19.3.1
sanic-openapi version 0.5.1

[2019-04-22 08:46] pytomtoto commented on #90
It's  work
[code]

[2019-04-22 08:46] #90 closed

[2019-04-22 09:27] pytomtoto opened #91 "can't to set Multiple Parameters in GET doc.consumes"
[code]

just last one parameter is active.

sanic 19.3.1
sanic-openapi 0.5.1

[2019-04-22 09:48] chenjr0719 commented on #91
Hi there, Can you try to separate `@doc.consumes()` into multiple decorators like this:
[code]

I think this should work.

[2019-04-22 09:51] pytomtoto commented on #91
yep it's works

[2019-04-22 09:51] #91 closed

[2019-04-27 09:32] raphaelauv opened #92 "Pypi update version"
The new release 0.5.1 is not yet on pypi ( and the 0.5.0 is broken )

https://pypi.org/project/sanic-openapi

Do you know how to update it ? @ahopkins

[2019-04-27 09:32] #85 closed

[2019-04-27 21:05] ahopkins commented on #92
Will take a look tomorrow. 👍

[2019-04-29 07:52] pytomtoto opened #94 "How to set value of opeartion in routespec"
i have to set operation with views.

[code]
 'operationId': route_spec.operation or route.name,

And see that operationId in swagger.json

[code]

[2019-04-29 07:56] pytomtoto commented on #94
[code]

[2019-04-30 13:38] gtors commented on #35
Faced with same problem:

[code]

For now, it's impossible to hide `bp_internal` from Swagger.

[2019-05-02 03:53] chenjr0719 commented on #35
Yep, it is impossible currently because `sanic_openapi` uses the router of `sanic` to generate the `swagger.json`. This will document all the routes include every blueprint's routes at `swagger.json`.

Some possible solutions:
1. After merge #80, using `exclude` at every route you don't want to document at `swagger`.
2. Add a list in `app.config`, when `sanic_openapi` generate the `swagger.json`,

[2019-05-03 16:41] raphaelauv commented on #92
hello , pypi is still not updated , can I help ?

[2019-05-05 12:15] ahopkins commented on #92
`__version__` was still set to `0.5.0` so nothing deployed. I bumped it to `0.5.2`. Should hopefully kick it into gear.

[2019-05-05 12:15] #92 closed

[2019-05-12 23:31] LTMenezes commented on #24
+1 for this.

I think a quick solution to this issue would be to add another option in the "app.config" in order to make the validator URL customizable. This way we would enable sanic-openapi users to disable the validation or to provide a custom validator URL.

What do you guys think about this approach? I would be happy to submit a PR for this.
@hampsterx @chenjr0719

[2019-05-12 23:34] hampsterx commented on #24
@LTMenezes go for it~

[2019-05-13 01:49] chenjr0719 commented on #24
@LTMenezes Sounds good.

[2019-05-13 18:45] logileifs commented on #42
+1

[2019-05-15 01:54] #47 closed

[2019-05-15 23:45] oddjobz commented on #55
No interest

[2019-05-15 23:45] #55 closed

[2019-05-17 04:18] #24 closed

[2019-05-26 16:33] yury-stepanov opened #102 "strict_slashes is not respected from the application level"
By setting global configuration option `strict_slashes` to True I would expect to swagger documentation no to have duplicate entries that differentiate only in trailing slash. Example:

[code]

[2019-05-27 02:26] chenjr0719 commented on #102
Hi there,

About `strict_slashes`, I think this is a bug(or feature maybe) of Sanic.
Try this:
[code]

Output:
[code]

You can see that Sanic did not apply app's `strict_slashes` to any blueprint. I' going to close this issue and open a new one at the repository of Sanic.

[2019-05-27 02:26] #102 closed

[2019-06-05 10:39] volfpeter opened #103 "Make it possible to register the same model definition multiple times in `doc.definitions`"
Hi,

We plan to document our API with `sanic-openapi`, I'm currently implementing some tooling for it. We tried to reuse some consumed/produced model definitions in the doc of multiple API endpoints, but it turns out reusing the same class wrapped in different `doc.Object` instances is not supported by the framework, even if `object_name` is different in every case.

Would it be possible to regist

[2019-06-06 03:11] chenjr0719 commented on #103
Hi there,

About reuse `doc.Object`, I have been used it in my company product like this:

[code]

The swagger looks like:
![image](https://user-images.githubusercontent.com/13619684/59004057-fd4ab580-884a-11e9-91de-6fc43cda22c6.png)
![image](https://user-images.githubusercontent.com/13619684/59004097-1fdcce80-884b-11e9-80ac-0f5d1012609c.png)

Does this cover your need?

[2019-06-06 07:09] volfpeter commented on #103
Thanks for the quick response. My use-case is a bit more complicated, but it can be condensed into something like this code:

[code]

As you will see, in this case only the `/foo` endpoint gets documented and only `FooConsumes` will be in the `Models` section.

Back to the proposed solution: I can see that it might cause problems for users who declare different models with the same name in multipl

[2019-06-06 08:41] chenjr0719 commented on #103
Got your point, thanks for your case sharing. I also totally agree with your solution. Would you wanna submit a PR for it?

[2019-06-06 09:02] volfpeter commented on #103
Sure, i can submit a PR. According to the readme, Python 3.5 must be supported (no f-strings). Will it still be the case in the next release?

[2019-06-06 10:18] chenjr0719 commented on #103
In my personal opinion, drop python 3.5 support is totally acceptable since `sanic` also drop it. But we don't have any plan now.

[2019-06-06 11:19] volfpeter commented on #103
Please have a look the the pull request (#104). Thanks!

[2019-06-06 11:52] ahopkins commented on #103
Just a bit of clarification about why Sanic decided to drop Python 3.5 beginning with the 19.6 release...

The decision was not because we had any syntax we particularly had in mind. In fact, there are still downloads of Sanic using Python 3.5. But, since we have an long-term support release (v 18.12), we decided to extend that support thru the sunseting of Python 3.5 in September 2020.

Therefore

[2019-06-06 12:05] volfpeter commented on #103
Thanks for this explanation. The PR is Python 3.5 compatible.

[2019-06-08 07:49] chenjr0719 commented on #103
@ahopkins Sorry for the answer that not clear enough. But it also reminds me to put something in my todos:

1. Contributing guide: I want to put your response into `CONTRIBUTING.md` to clarify what position of this project about supporting which version of Python.
2. Tox: Current `tox.ini` in this project only using Python 3.5 and 3.6 with the latest version of Sanic on PyPI to run tests(at this t

[2019-06-09 10:34] volfpeter opened #107 "One decorator to wrap potentially all route decorators including route registration and doc"
When documenting a route, we typically have to add an `app.route` decorator, then a set of `sanic-openapi` decorators, then authorization, cors, request or response transformer decorators, and so on. The resulting code is hard to read and not that good to look at.

I've implemented a `sanic-openapi`-based decorator factory class that can be used for documenting routes (and even registering them in

[2019-06-09 12:50] chenjr0719 commented on #107
Wow, I have to say, it looks pretty cool. When I developing my company product, my decorators will be much longer than my handler function. I think your decorator factory class can totally save my code base. As a user of `sanic` and other plugins, I will buy it without a doubt.

And, as a contributor of `sanic-openapi`, I also buy it because this project supports multiple responses now. This is a

[2019-06-09 13:31] volfpeter commented on #107
Well, one thing that's still missing is the support of the `response()` decorator... We wouldn't use it, as our APIs return HTTP 200 with either i) an error code and message or a proper result, or ii) an internal server error. Nevertheless, i wanted to add support for it just for the sake of completeness anyway. I'll make a decision on that part of the API and implement it next week.

I have one m

[2019-06-10 03:39] chenjr0719 opened #108 "[Bug] Can not document CompositionView in Blueprint"
**Describe the bug**
I found this bug when I add new test cases. Can not document `CompositionView` in Blueprint.

**Screenshots**
When put `CompositionView` in the app:
![image](https://user-images.githubusercontent.com/13619684/59170742-9ee74500-8b72-11e9-8724-058cc9ac38ee.png)
As you can see, the `CompositionView` can be documented in the app.

And put `CompositionView` in blueprint:
![image](h

[2019-06-10 07:16] #35 closed

[2019-06-11 14:24] volfpeter commented on #107
I've submitted this feature in PR #111 (`doc.response()` support is also there in the PR).

[2019-06-12 10:28] benchuang11046 opened #112 "Sometimes doc.consumes() is too long to maintain"
Hi all,
When writing decorate `@doc.consumes()` will write a long description, it cause some code  formatter split it into many lines.

[code]

Sometimes, it is not readable when a lot of consumes decorate.
Therefore I think that `@doc.consumes()` can support `class` type?

Like following
[code]

or a better solution?

[2019-06-13 23:35] #12 closed

[2019-06-13 23:35] #9 closed

[2019-06-13 23:35] #2 closed

[2019-06-13 23:35] #59 closed

[2019-06-13 23:35] #6 closed

[2019-06-17 11:52] volfpeter commented on #112
Have a look at #107.

[2019-06-17 12:13] volfpeter opened #114 "Remove duplicate routes from doc"
`app.router.routes_all` contains 2 versions of all routes: one with a trailing `/` and one without it, see `sanic_openapi.swagger.build_spec()` (line 96 `for uri, route in app.router.routes_all.items(): ...`).

I think it's unnecessary to show both routes in the documentation. Would it be possible to keep only one version? I would personally prefer to keep the one without the trailing `/`, but may

[2019-06-19 09:20] #103 closed

[2019-06-20 03:11] chenjr0719 commented on #114
This is a good idea. I always use `strict_slashes=True` to avoid duplicate routes in swagger. If we can handle this problem, it would be very nice. About keep the `/` or not, I think make it configurable and default to keep `/` would be nice.

[2019-06-24 17:44] volfpeter commented on #114
I was thinking about the default setting and decided to keep URIs without the trailing `/` by default. My reasoning is that in my experience users typically write URIs without the trailing `/` in the code (be it routing or URL building). Also, `strict_slashes` is not the default in Sanic, so making this URI version the default in the documentation didn't feel quite right.

[2019-06-27 10:09] chenjr0719 opened #117 "[Bug] Global variables in module"
**Describe the bug**
After adding more tests in this project. I found there are some weird global variables in this module:

* doc.definitions
https://github.com/huge-success/sanic-openapi/blob/cbf0f5b27fb6b56be048a8ef020b0082ac484543/sanic_openapi/doc.py#L108
* doc.route_specs
https://github.com/huge-success/sanic-openapi/blob/cbf0f5b27fb6b56be048a8ef020b0082ac484543/sanic_openapi/doc.py#L222
* s

[2019-06-30 09:04] volfpeter commented on #114
PR is merged, so i'll close the issue if you don't mind.

[2019-06-30 09:04] #114 closed

[2019-06-30 10:07] ahopkins commented on #114
thanks

[2019-06-30 12:21] volfpeter commented on #107
@chenjr0719 @ahopkins Thanks guys!
I have just one more question before closing the issue: when can we expect the next release?

[2019-06-30 18:57] #36 closed

[2019-07-01 02:57] #69 closed

[2019-07-03 13:57] canberkkoc opened #119 "Swagger ui options doesn't have any effect"
**Describe the bug**
SWAGGER_UI_CONFIGURATION = {
    'validatorUrl': None,
    'displayRequestDuration': True
}
doesn't have any effect on swagger ui.

**Screenshots**
![s1](https://user-images.githubusercontent.com/5826958/60597408-8fdf6580-9db3-11e9-8021-30bba076acc3.png)
![s2](https://user-images.githubusercontent.com/5826958/60597327-67f00200-9db3-11e9-8cfc-be27c20ef922.png)
![s3](https://use

[2019-07-04 02:00] chenjr0719 commented on #119
Hi @canberkkoc

We haven't released the new version with Swagger-UI configuration feature on PyPI. If you want to use this feature, please use the master branch.

To install `sanic-openapi` with master branch, you can use this command:
[code]

I'm going to close this issue, feel free to add more feedback or reopen if you want.

[2019-07-04 02:00] #119 closed

[2019-07-04 02:03] chenjr0719 commented on #112
Hi @benchuang11046
The #107 has been merged to master branch. Could you take a try with this new feature?

[2019-07-04 06:38] volfpeter commented on #112
Here is the transformed code:

[code]

[2019-07-08 06:26] volfpeter commented on #107
Hi @chenjr0719 @ahopkins !
Could you please give some feedback on when do plan to create the next release of `sanic-openapi`?

[2019-07-08 06:28] Caoyiii commented on #42
Hope it update soon.

[2019-07-08 06:44] chenjr0719 commented on #107
@volfpeter Oops, my bad. I'm thinking about release new version `0.7.0` this month after I complete the new docs on readthedocs. This might be earlier if I can get the docs done this weekend.

@ahopkins What do you think?

[2019-07-08 07:23] volfpeter commented on #107
No problem! And thanks for the info!

[2019-07-08 07:23] #107 closed

[2019-07-08 12:32] ahopkins commented on #107
:+1:  to what @chenjr0719 says

[2019-07-19 06:04] #75 closed

[2019-07-22 00:30] #61 closed

[2019-07-22 01:30] #53 closed

[2019-07-24 18:53] koug44 commented on #55
I'm also looking for something like this

[2019-07-30 02:17] yangmingbai opened #123 "upload file by swagger"
I want to upload a file by swagger, but don't know how to use @doc.consumes define a file type
like this..
`@doc.consumes({"myfile":` '',},location="multipart/form-data")`

![image](https://user-images.githubusercontent.com/51049448/62095391-e22c7d00-b2b2-11e9-8940-482de3ccfbcf.png)

[2019-07-30 06:23] #94 closed

[2019-07-30 15:58] chenjr0719 commented on #123
Hi @yangmingbai

Please install `sanic-openapi` from master branch and try this:

[code]

The swagger will look like:
![file](https://user-images.githubusercontent.com/13619684/62145157-82bb8500-b325-11e9-911e-ddf03808f448.png)

I'm going to close this issue. Feel free to add more feedbacks or reopen this issue if need.

[2019-07-30 15:58] #123 closed

[2019-08-01 22:55] clarkenciel opened #125 "[Bug] UUIDs aren't handled properly"
**Describe the bug**
The UI treats route parameters specified as UUIDs as objects rather than strings. While UUIDs are objects in python, in a url they're basically a string.

**Screenshots**
a route specification like:
[code]
produces:
![image](https://user-images.githubusercontent.com/5125595/62332317-e5bb3200-b473-11e9-8337-19b4ac5abea0.png)

**To Reproduce**
Set a route to have a url parameter

[2019-08-04 21:10] #86 closed

[2019-08-06 03:28] #125 closed

[2019-08-06 22:48] tng10 opened #127 "Compatibility with Sanic 19.6.2"
Hi,

**Describe the bug**

I just bumped into an error when upgrading to newest version of Sanic using ASGI interface.

Since ASGI lifespan protocol has support for only two server events, we no longer can make usage of `before_server_start` and `after_server_stop` server events.

Sanic OpenAPI uses `before_server_start` server event and this give us the following warning:

[code]

**To Reproduce*

[2019-08-07 11:04] viniciusd opened #128 "[Feature Request] Support typehinting"
**Problem**
I'm always frustrated when I want to type-hint my models because `sanic-openapi` picks up the model types by assignment (e.g. `id = int`) only. However, I want to have a fully type hinted project.
It would be very nice to provide some code snippet to explain your use case.

We currently support:
[code]
It would be super handy in order to have a type hinted project, supporting:
[code]
*

[2019-08-07 23:30] viniciusd commented on #128
As far as I browsed sanic-openapi's code, this shouldn't be too complicated. I should give it a try and open a PR if the idea is welcome

[2019-08-08 02:50] chenjr0719 commented on #127
Sounds good. Would you wanna submit a PR for this?

[2019-08-08 03:00] chenjr0719 commented on #128
I think this is a nice idea and any PR is welcome. :smile:
Furthermore, is this typehinting also support Sanic-OpenAPI's fields (e.g., `doc.String`)?

[2019-08-08 12:10] viniciusd commented on #128
It _might_ support Sanic-OpenAPI's fields with further changes, like making Fields type hints.

I have added initial support for picking up type hints changing one line (+ two imports) and should be submitting a pull request in the next couple minutes.

I am more than willing to take type hinting support further and make this issue a tracking issue for that. Some of the next steps that come to min

[2019-08-08 12:11] viniciusd commented on #128
A fully working and minimal example of what I proposed is:
[code]
Note this works with my first PR

[2019-08-08 13:10] tng10 commented on #127
Yes, I'll do it.

[2019-08-08 13:34] tng10 commented on #127
@chenjr0719 I just created PR #130 for it

[2019-08-09 11:22] theresaschmitt opened #131 "When changing swagger_blueprint url_prefix swagger is documented"
I want the swagger blueprint to have a custom url_prefix, i.e. `api/swagger`. Therefore I set
[code]
However, all the swagger endpoints are then listed in the docs as well. Is there a possibility to avoid this behaviour?

[2019-08-11 08:58] ahopkins commented on #127
:+1:  Nice catch.

[2019-08-12 12:14] #131 closed

[2019-08-13 23:10] jacebrowning opened #132 "[Bug] Documentation site returns a 404"
https://sanic-openapi.readthedocs.io as mentioned in the README returns a 404.

[2019-08-14 02:45] chenjr0719 commented on #132
It's my fault. The documentation site still not ready but I put the URL on `README.md`.

@ahopkins Could you set up the new Readthedocs project for Sanic-OpenAPI? I will be very appreciated.

[2019-08-19 12:28] viniciusd commented on #128
Thoughts here @chenjr0719? That's actually blocking me from using sanic-openapi. Provisional support provided by #129

[2019-08-25 20:07] ahopkins commented on #132
Will do. I have had a busy end to my Summer. I will dig into this in a few days.

[2019-08-26 09:00] artemnesterenko opened #133 "[Bug] File input is not rendered"
I'm trying to document my api for file uploading, but a file field is not rendered in the generated swagger. Here is a code example:
[code]
Here is a screenshot of the generated documentation:
![Снимок экрана от 2019-08-26 11-56-16](https://user-images.githubusercontent.com/5736988/63678956-f5226680-c7f8-11e9-9c1f-021069d8dd74.png)
As you can see, there is no button for choosing a file.
The librar

[2019-08-26 09:07] chenjr0719 commented on #133
Hi @artemnesterenko
The button will show up after click `Try it out`.

[2019-08-26 09:37] artemnesterenko commented on #133
Oh, I've missed it. Thanks!

[2019-08-26 09:37] #133 closed

[2019-09-06 09:43] DerMika commented on #132
Any update on this?

[2019-09-24 02:55] beruhan opened #135 "not support gino Model entity"
I have a gino model like this:
[code]
I use Student as the fllows:
[code]
the api doc can't display the model,can any one has same good ideas to solve?

[2019-10-01 08:00] chenjr0719 commented on #135
Hi there,

I'm afraid that `Sanic-OpenAPI` cannot support `gino`.  This is a limitation of `Sanic-OpenAPI` because `Sanic-OpenAPI` cannot **serialize** the object from `gino`. In the current implementation, `Sanic-OpenAPI` only support built-in class like `dict`, `list`, 'int`, etc.

[2019-10-03 14:24] VMAtm commented on #132
Hello, what happened with the docs?

[2019-10-04 01:45] chenjr0719 commented on #132
I don't have enough permission to create Readthedocs project with this repository(this requires to create a webhook in this project). So, I'm waiting for @ahopkins to handle this. And I think he is very busy in recent months. :sweat_smile:

[2019-10-07 21:52] notnami commented on #132
It seems like more than one person should have permission to publish to readthedocs to avoid this kind of scenario.

[2019-10-22 08:15] gensuineixin opened #137 "[Feature Request]How to paginate the response body data or limit num by POST request?"
I want to paginate the response body data,when i use POST request method, what can i do?

[2019-10-23 01:48] chenjr0719 commented on #137
Hi @gensuineixin

I think this is a good question when using Sanic. But this project is focused on how to provide API docs, maybe you can post your question on Sanic's [community forum](https://community.sanicframework.org/) instead.

[2019-10-23 01:48] #137 closed

[2019-10-23 03:54] gensuineixin commented on #137
Yes，I mean on the sanic-openapi  *.*.*.*:8000/swapper page,the Response item.

[2019-10-23 14:48] AtomsForPeace opened #138 "Add type hinting"
I noticed that there's little/no type hinting in the project. Am I right in saying that? I could work on adding it if you want.

[2019-10-24 03:50] chenjr0719 commented on #138
Type hinting is very helpful for our users. If you can add some type hinting support, It would be very appreciated.

[2019-10-25 11:23] AtomsForPeace commented on #117
Reopen?

[2019-10-28 09:53] DMantis opened #141 "[Bug] Broken documentation page."
Invalid documentation link on README.md

https://sanic-openapi.readthedocs.io/ - seems to be broken.

[2019-10-28 10:21] chenjr0719 commented on #141
Duplicate with #132.
Let me check who has the premission to create new project on readthdocs first.

[2019-10-28 10:21] #141 closed

[2019-10-28 10:33] chenjr0719 commented on #132
@seemethere Just wondering if you have the permissions of this repository or not. We need a Readthedocs project to host the document. But I can not reach @ahopkins in recent months so this requirement has been pending for a long time. Could you help me to create a new Readthedocs project with this repository if you have the permissions? I will be very very very appreciated.

[2019-10-30 07:38] youngsoo777 opened #142 "How to use File fields and String fields together as parameters?"
I should get string inputs with a File input as an API parameter.
However, if I used "location=formdata", I do not receive both of them as parameters.
What should I do?
Here is my sample code.
[code]

[2019-10-30 08:29] youngsoo777 commented on #142
[code]
I solved this issue as above. Therefore, I will close this issue.

[2019-10-30 08:29] #142 closed

[2019-11-01 08:04] #112 closed

[2019-11-01 10:42] AtomsForPeace commented on #117
@chenjr0719 are you able to reopen this and maybe look at the pull request?

[2019-11-05 02:02] chenjr0719 commented on #117
@AtomsForPeace Sure, I will review the PR at the end of today. It is a little busy recent days.

[2019-11-05 07:02] #42 closed

[2019-11-20 08:30] kevayacht opened #144 "[Bug] Swagger doc, response decorator, arguments possibly misaligned."
**Describe the bug**
It appears that when the doc.response decorator is used to document the possible responses, basically for the swagger documentation,
A clear and concise description of what the bug is. It there is error log, please provide it.

**Screenshots**
No screenshots are included as it will not actually help and is thus not necessary.

**To Reproduce**
Here follows a short script to qu

[2019-11-21 05:47] kevayacht commented on #144
nevermind - read the docs.

[2019-11-21 05:47] #144 closed

[2019-11-26 07:45] chenjr0719 opened #146 "[Bug] Default value of API_SECURITY and API_SECURITY_DEFINITIONS is incorrect"
**Describe the bug**
After using Swagger editor and `swagger-spec-validator`, it always shows errors about the default value of `API_SECURITY` and `API_SECURITY_DEFINITIONS`.

**Screenshots**
![image](https://user-images.githubusercontent.com/13619684/69608826-2b26ef00-1063-11ea-99fc-2d33530e7083.png)

**To Reproduce**
The example:
[code]

**Expected behavior**
No errors

**Environment (please com

[2019-11-27 02:45] caheredia opened #147 "[Feature Request] Add examples requests"
**Adding examples responses.**
I see there is a method to add responses `@doc.response` but is there a method to add example responses?

It would be nice if `@doc.example()` added example code to the [OpenApi spec](https://swagger.io/docs/specification/adding-examples/).

**Slightly related question**
Is there a way to populate the `Example Value` box with a real example, or will that only display

[2019-11-29 20:43] AtomsForPeace commented on #117
I was thinking maybe doing something along the lines of this: https://flask.palletsprojects.com/en/1.1.x/patterns/appfactories/#factories-extensions

One issue would be backwards compatibility.

The swagger.py file has a lot changed in it. Still have to figure out how to fix the definitions and route_specs that come out of doc.py

[2019-12-09 10:03] #127 closed

[2019-12-09 17:50] ahopkins commented on #132
Yikes... so sorry everyone.

I added this and @chenjr0719 is listed as a maintainer.

https://readthedocs.org/projects/sanic-openapi/

Let me know what else is needed. I am back from being .... "absent".

[2019-12-16 09:13] chenjr0719 commented on #132
@ahopkins Welcome back and thanks for your helping.

The document site works now so I'm going to close this issue.

[2019-12-16 09:13] #132 closed

[2020-01-02 20:34] AWegnerGitHub opened #152 "Release process?"
What is the release process of this project?

I see that 0.6.0 was released on Aug 11, 2019. There have been several PRs merged since that date, but [PyPI](https://pypi.org/project/sanic-openapi/) is still on that 0.6.0 version. When do these new merged changes get released?

[2020-01-02 21:57] ahopkins commented on #152
@chenjr0719 Let me know if you need anything on this.

[2020-01-03 04:37] chenjr0719 commented on #152
OK, I think I can release a new version in recent days after I finish the changelog.

And maybe we can think about the release plan/schedule for this project.
If follow the release plan of `sanic` might be too frequently because this project is not active like `sanic`.
So, maybe we can try:
1. At least two releases per year. Maybe in January and July and this can also make sure this project can su

[2020-01-03 05:53] ahopkins commented on #152
Why not both? Plan for January and July with whatever is on master. And also, if there is something more urgent, an interim build.

[2020-01-03 08:16] chenjr0719 commented on #152
Hi @AWegnerGitHub, I have release the `0.6.1` on PyPI. Please check and enjoy it. :smiley:

[2020-01-03 08:17] #152 closed

[2020-01-08 09:29] oalexandere opened #155 "[Bug] TypeError: Object of type Spec is not JSON serializable"
**Description**
Trying to reproduce simple example with Getting Started code: https://sanic-openapi.readthedocs.io/en/latest/
When opens swager page see an error: Failed to load API definition.
With previous version sanic-openapi 0.6.0 everithing works fine.

**Screenshot**
![image](https://user-images.githubusercontent.com/25843869/71966203-364c6d80-3212-11ea-9146-488295b7d8d3.png)

**To Reproduc

[2020-01-08 09:39] AtomsForPeace commented on #155
Thanks for the good bug report. I'll take a look at this later on.

[2020-01-08 12:25] adiugy opened #156 "‘fetch error' will be prompted when 'name' is used as the field name in the model and the model is referenced in consumers"
**To Reproduce**
##model##
class User:
    name = doc.String
    password = doc.String

##user_blueprint##
@blueprint.put('/login')
@doc.consumes(models.User, location='body', content_type='application/json')

**Environment (please complete the following information):**
 - OS: Windows
 - Version :0.6.1

[2020-01-08 18:02] AtomsForPeace commented on #155
I'm not able to reproduce this locally. What address are you going to?
Works for me at http://localhost:8000/swagger/#/default/test

[2020-01-09 05:55] oalexandere commented on #155
Hello!
For reproducing I've create a new virtual env and installed only sanic-openapi:
![image](https://user-images.githubusercontent.com/25843869/72041213-fcd03c80-32bb-11ea-8d4b-83e20cebc822.png)

Then run the app:
![image](https://user-images.githubusercontent.com/25843869/72041318-4caf0380-32bc-11ea-88a7-3d3d0c58f035.png)

Goes http://127.0.0.1:8000/ and get {"hello":"world"}. But http://127.0

[2020-01-09 05:58] oalexandere commented on #155
If downgrade sanic-openapi version to 0.6 everything works fine:
![image](https://user-images.githubusercontent.com/25843869/72041974-15415680-32be-11ea-9897-72ec720b672a.png)
![image](https://user-images.githubusercontent.com/25843869/72042016-373ad900-32be-11ea-9d76-26bd9dfacad8.png)

[2020-01-09 06:52] oalexandere commented on #155
Additional info, maybe it will be usefull.
Line 263 in swagger.py returns json(swagger_blueprint._spec), where swagger_blueprint._spec is Spec object, not dict as in version 0.6.0 sanic-openapi (rigth screen, line 289):
![image](https://user-images.githubusercontent.com/25843869/72044749-ae27a000-32c5-11ea-9cf5-b64247ac7ca2.png)

[2020-01-09 07:29] chenjr0719 commented on #155
It is because that `ujson` can dump `Spec` class to JSON but `json` can not. And your OS is windows so you can only use `json`. That is the reason I and @AtomsForPeace can not reproducible the bug. Let me think about how to fix it and thanks for your report. It is very helpful to improve this project. :grinning:

[2020-01-09 07:40] AtomsForPeace commented on #155
@chenjr0719 Can we add CI for windows?

Maybe returning the json of the __dict__ of the Spec class. I could try that but can't really test it... :/

[2020-01-09 08:01] oalexandere commented on #155
Thank you for your response, I created a pull request with trying to fix it, look it please.

[2020-01-09 10:03] wrdls opened #158 "[Bug] Wrap multiple decorators in single decorator"
**Describe the bug**
I'm trying to use https://github.com/huge-success/sanic-openapi/issues/107 to wrap multiple decorators.
They look exactly like the example in the Sanic docs: https://sanic.readthedocs.io/en/latest/sanic/decorators.html

I made the following class:
[code]
Which throws the following error:
[code]
Seems like there's a difference how Sanic calls the decorators.

**To Reproduce**
I

[2020-01-09 10:04] wrdls commented on #158
Pinging @volfpeter since he made the PR.

[2020-01-09 13:31] volfpeter commented on #158
Hi,

Your issue is that `authorized()` is not a decorator, it is a decorator _factory_ that you have to call to get an actual decorator. In the Sanic documentation this is exactly what happens (notice the parenthesis):

[code]

So, you should use the decorator in exactly the same way in the API class:

[code]

Since there is no bug, I think the issue can be closed.

[2020-01-09 15:28] wrdls commented on #158
Thank you for the quick response and explanation.

It is indeed not a bug. Closing.

[2020-01-09 15:28] #158 closed

[2020-01-10 04:04] chenjr0719 commented on #155
Maybe we can follow the same configuration from [sanic](https://github.com/huge-success/sanic/blob/784d5cce5234933a5af36b668c8ffce1af4af91a/tox.ini#L6-L8) to test without `ujson`. What do you think?

[2020-01-10 05:06] chenjr0719 commented on #156
Hi there,

It is work on my laptop.
![image](https://user-images.githubusercontent.com/13619684/72127079-76922400-33a9-11ea-8410-bd573315ce59.png)

Verified with this code snippet:
[code]

I remember I met the same issue in old version but I think it is already fix.
You can check related source code:https://github.com/huge-success/sanic-openapi/blob/c7b96bf0df7112689119f8dded49a39901b06134/sanic_o

[2020-01-12 06:22] shree-sopt opened #159 "@doc methods won't work when Sanic object is generated using class"
**Describe the bug**
I have the following code:

[code]

When I go to http://localhost:8000/swagger and open my `/hello` route, I cannot see the description added. This is true for other methods as well (for ex: @doc.consumes)

Can someone please help me out with this?

Thank you in advance!

Environment:
[code]

[2020-01-12 13:57] AtomsForPeace opened #160 "[Feature Request] Add CI for windows"
As mentioned in #155, we need to add tests for windows users regarding ujson and other differences.
Here is how sanic does it: https://github.com/huge-success/sanic/blob/784d5cce5234933a5af36b668c8ffce1af4af91a/tox.ini#L6-L8

[2020-01-12 13:58] AtomsForPeace commented on #160
When the test requirements are installed, the requirements of sanic are also installed and these include ujson and uvloop.
One easy solution would be to use requirement.txt files, define exactly what requirements we need and then use pip install --no-deps.

[2020-01-13 09:27] adiugy commented on #156
Thank you very much for your answer
But I ran into some problems after updating to 0.6.1
I tried the sample you provided and found the same mistake
I think there's something wrong with my environment,
but I can't solve it
Can you help me with this problem
Thank you in advance!
This is my environment.yml
[environment.zip](https://github.com/huge-success/sanic-openapi/files/4052795/environment.zip)

[2020-01-13 10:10] chenjr0719 commented on #160
I have some ideas about how to modify our `tox.ini` to meet this requirement. But, I will wait until #151 is merged if you don't mind. :grimacing:

[2020-01-13 13:34] AtomsForPeace commented on #156
@chenjr0719 Is this also a windows/ujson bug like in #155?

[2020-01-13 13:35] AtomsForPeace commented on #160
Of course

[2020-01-14 10:47] chenjr0719 commented on #155
The #157 has been merged. Close this issue.

[2020-01-14 10:47] #155 closed

[2020-01-14 21:06] AWegnerGitHub opened #161 "[Bug] Sanic 19.12 and sanic-openapi produce unexpected keyword error"
**Describe the bug**
Update sanic to the 19.12.x branch (either .0 or .2 currently show the problem). When launching sanic with sanic-openapi, the following error is emitted:

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/6462439/72382580-2edc0700-36df-11ea-96ba-ff77f7d20ad4.png)

**To Reproduce**
Update sanic to the 19.12.x branch (either .0 or .2 currently show the p

[2020-01-18 14:23] viniciusd commented on #128
Great reminder, stale bot

[2020-01-20 09:17] chenjr0719 commented on #128
Hi @viniciusd, do you have other ideas about this issue? If not, I think it is fine to close it. :smiley:

[2020-01-21 04:34] chenjr0719 commented on #161
Hi @AWegnerGitHub

Sorry for the late reply.
I haven't met this issue when using `tox` to test with `19.12.x`. Could you provide the version of python you are using and your dependencies(`pip freeze`)?

[2020-01-23 15:12] rp4fx12 opened #162 "[Feature Request] Multiple Consumes in a Single Block"
**Is your feature request related to a problem? Please describe your use case.**

I'm currently trying to build off Sanic and Sanic OpenAPI to create a method in which a user can define a single class to capture all of the request/response parameters. Currently, this works with the response block but it does not work with the consumes block because I cannot specify which fields are in what spot an

[2020-01-29 09:53] #135 closed

[2020-02-11 18:50] ray-t1 opened #163 "[Bug]Getting error on response from doc.py function"
I’ve been using Sanic on my GCP instance for two months now, however i had to restart it and all my configuration went blown.

Trying to reinitialize it, i got this error:

Traceback (most recent call last):
0|server | File “/opt/soporteventasdiemo/port/server.py”, line 160, in
0|server | async def partner_add(request, token:Token):
0|server | File “/usr/local/lib/python3.7/dist-packages/sanic_ope

[2020-02-19 18:09] denisovkv opened #164 "[Feature Request] Models inheritance"
Hello! What do you think about models inheritance? Ex.
[code]
Expected that `FullInfo` model would include `foo` field, but in the UI appears `bar` field only.

One of possible solutions is to change this line
https://github.com/huge-success/sanic-openapi/blob/fe29d07ccb0e02ec0be6496e971946269b2d7907/sanic_openapi/doc.py#L143
to something like
[code]
to get all of class fields include parents, not

[2020-02-20 16:44] koug44 commented on #163
I have the same issue with Sanic 19.12. I don't have any error with Sanic 18.12

[2020-02-20 16:55] koug44 commented on #163
More usable information:

`Traceback (most recent call last):
  File "src/main.py", line 301, in <module>
    async def alive_check(request):
  File "/home/dalexandre/.local/lib/python3.8/site-packages/sanic_openapi/doc.py", line 275, in inner
    route_specs[func].exclude = boolean
TypeError: unhashable type: 'list'
`
I can start my app by commenting all _@doc.exclude(True)_ lines

[2020-02-20 17:03] koug44 commented on #163
I've deleted my comment as I'm not sure it's exactly the same issue.

@ray-t1 try to move the @doc lines after @app.route declaration

[2020-02-21 04:54] #138 closed

[2020-03-05 01:22] jeongmincha commented on #147
I think this feature is really needed.

[2020-03-05 04:04] jeongmincha opened #165 "[Bug] Is there a way to change the base path?"
I know it is not a bug, but I need to get your help :)
How can I change the base path from ./swagger to another thing?
I want to change it like /api or /v2, etc.

[2020-03-06 03:59] chenjr0719 commented on #164
Sounds cool, do you want to submit a PR for it?

[2020-03-09 15:36] denisovkv commented on #164
Yes, I would be very happy to help :)

[2020-03-25 18:13] #146 closed

[2020-03-28 21:26] #117 closed

[2020-04-07 07:45] denisovkv commented on #165
Hello! Most likely this issue could help you https://github.com/huge-success/sanic-openapi/issues/131

[2020-04-11 11:28] xnuinside commented on #155
btw, same issue 1-to-1 with 0.6.1 on MacOS 10.14.6, not only on Windows. Also solved problem with downgrade to 0.6.0 version.

[2020-04-12 17:49] bolshoydi opened #168 "[Bug] attribute name "name" conflict in consumes body"
**Describe the bug**
When you want add custom object (class) with
attribute name "name" it  conflicts with "name" param in `@doc.consumes` body.
* breakpoint screenshot from [this](https://github.com/huge-success/sanic-openapi/blob/master/sanic_openapi/swagger.py#L164-L179) point
![image](https://user-images.githubusercontent.com/7124306/79075746-5736ca00-7cfd-11ea-8176-c14e67815d27.png)

And if `

[2020-04-13 13:34] Ronserruya commented on #155
^^ Same issue on MacOs 10.15.1 , works when downgrading to 0.6.0

[2020-04-20 03:12] chenjr0719 commented on #164
Since #166 is merged, close this issue.

[2020-04-20 03:12] #164 closed

[2020-04-20 05:11] chenjr0719 commented on #168
Hi @bolshoydi, thanks for your report. I think this also related to `ujson` library. When using `ujson==1.35`, I didn't meet this issue. But when using `ujson>=2.0.0`, this issue happened.

After check the `swagger_blueprint._spec`, I think the name in parameters is not correct. Here is the example `swagger_blueprint._spec`:
[code]

To fix this issue, I think we can check is the consumer a class o

[2020-04-20 05:52] chenjr0719 commented on #156
I think this issue is related to windows/ujson issue. And I just confirm there is another issue when using the new version of ujson in #168.

[2020-04-20 05:59] chenjr0719 commented on #165
Hi @jeongmincha , as @denisovkv mentioned, you can use `swagger_blueprint.url_prefix` to change the endpoint of swagger doc. Here is an example:
[code]

I'm going to close this issue first, and if you have any issues about changing the base path, please reopen this issue. 🙏

[2020-04-20 05:59] #165 closed

[2020-04-20 07:38] chenjr0719 commented on #163
Hi @ray-t1, I apologize for my very late response. 😅
About this issue, please move `@app.route('/partner/add',['POST','OPTIONS'])` before other decorator. All decorators from Sanic-OpenAPI can only apply to Sanic’s route. So, please make sure all the decorator is behind `app.routet()`, thanks.

I'm going to close this issue first, and if you still have issues, please feel free to reopen it.

[2020-04-20 07:38] #163 closed

[2020-04-20 10:44] chenjr0719 commented on #147
I like this idea. But I'm not sure I have enough time to implement it. If someone wants to make a PR for it, I will be very appreciated. 🙏

[2020-04-20 20:20] kirsis commented on #147
Does something like https://github.com/huge-success/sanic-openapi/pull/169 make sense for setting the example values? Put together a quick PoC, seems to work (but haven't really dug too much into it)

[2020-04-22 11:32] bolshoydi commented on #168
@chenjr0719  Yes, i will try fix this.  I have already made commit, but it crashed 12 tests, where name atr checks exist.

[2020-04-28 13:38] #161 closed

[2020-04-28 13:42] AWegnerGitHub opened #171 "[Feature Request] Add ability to create descriptions for parameters"
**Is your feature request related to a problem? Please describe your use case.**
Allow users a way to provide a description or prose for a parameter. Sometimes, a description is warranted for specific parameters and being able to add that would be helpful.

**Describe the solution you'd like**
A way to add a description to a parameter.

**Additional context**
![image](https://user-images.githubuse

[2020-05-04 15:18] ray-t1 commented on #155
I'm facing this issue on a local Ubuntu 19.04 env. Tried to downgrade to 0.6.0 but still, have any clue??

[2020-05-05 04:47] chenjr0719 commented on #155
@ray-t1 I think it is related to the new `ujson` release. Would you please try `ujson==1.3.5` and check is this issue still exist? Somehow the new version of `ujson` changes its behavior and it affects the JSON serialization.

[2020-05-06 04:22] GitHubLeoYeh commented on #155
After install ujson==1.3.5
Solve it!!
(Ubuntu 18.04.4 LTS )
thanks @chenjr0719

[2020-05-11 11:23] #159 closed

[2020-05-13 00:34] #160 closed

[2020-05-19 10:15] #128 closed

[2020-05-22 21:21] #162 closed

[2020-05-27 02:55] chenjr0719 commented on #168
Since #170 has been merged, close this issue.

[2020-05-27 02:55] #168 closed

[2020-05-29 09:19] guifa2015 opened #172 "[Bug]TypeError: Object of type Spec is not JSON serializable"
**Describe the bug**
![image](https://user-images.githubusercontent.com/13930091/83243421-74055f00-a1d0-11ea-86b4-a37e2c13495a.png)

**Screenshots**
![image](https://user-images.githubusercontent.com/13930091/83241829-fc363500-a1cd-11ea-9a19-acf724aa6da5.png)

![image](https://user-images.githubusercontent.com/13930091/83241806-f3ddfa00-a1cd-11ea-9957-a881255e66da.png)

**Environment (please compl

[2020-05-29 10:29] chenjr0719 commented on #172
Hi @guifa2015, this issue is due to the new release of `ujson`. Please try to use `ujson==1.3.5` instead. I will close this issue first and if you need more help, please reopen and let me know your issue. 😄

[2020-05-29 10:29] #172 closed

[2020-05-29 21:48] kershnerd opened #173 "[Bug] /swagger returns 404"
**Describe the bug**
When I hit `/swagger` or `/swagger/`, I get 404.    I stripped down my entire app to be just this:

[code]

I can't tell if this is because I am running on docker behind `nginx` or because I have installed `sanic_openapi` incorrectly.

All request from nginx to: `http://localhost/backend` should be routing to: `http://backend:5004` so hitting `http://localhost/backend/swagger`

[2020-05-29 21:56] kershnerd commented on #173
I am pretty sure this is a docker issue so I will close.

[2020-05-29 21:56] #173 closed

[2020-05-30 19:47] nikhilpatil02 opened #174 "[Bug]"
Please suggest how can I have multiple files in form data with more keys in doc.consumes. As I am not able to add multiple files in form data

[2020-06-04 15:29] TechPriest001 opened #177 "[Bug] Inheritance does not work"
**Describe the bug**
According to the [documentation](https://sanic-openapi.readthedocs.io/en/latest/sanic_openapi/fields.html), inheritance is supported.  However, using the example code provided in the documentation, the expected structure containing members from both the base class and the subclass does not occur.  Instead, only the members from the subclass are shown.

**Screenshots**
![image]

[2020-06-05 03:26] chenjr0719 commented on #177
Hi @TechPriest001 , thanks for your report. The model inheritance is new feature and we haven't released the latest version include this feature to PyPI yet. 😅

To use this new feature, please install our master branch instead of using PyPI:

[code]

We also have the plan(in #176 ) to release `0.6.2` version to PyPI in recent days. If you do not hurry maybe you can wait for this release.

I also c

[2020-06-05 03:26] #177 closed

[2020-06-10 13:24] ioggstream opened #178 "[Feature Request] Support OpenAPI 3"
**Is your feature request related to a problem? Please describe your use case.**

Support OpenAPI 3.

**Describe the solution you'd like**
A configurable way to generate OpenAPI3 documentation.

**Additional context**
A basic working feature can even produce and convert OAS3 from OAS2.
To support OAS3 features (eg. jsonschema, oauth scopes, multiple content-types ... ) a more radical work should b

[2020-06-14 13:30] mfekadu commented on #172
I tried `pip install usjon==1.35` and the bug was fixed.

I wonder why `3.0.0` is buggy in that way?

[2020-06-18 02:47] chenjr0719 commented on #172
The new release of `ujson` changes its behavior so the JSON serialization not working as before. This serialization already fixed in #157 but we haven't released this fixed version to PyPI yet.

[2020-06-18 02:57] chenjr0719 commented on #174
Hi there, would you please try this? It looks a little bit ugly but works. 😅
[code]

I'm going to close this issue first and if you need more help, please feel free to reopen this issue. 😃

[2020-06-18 02:57] #174 closed

[2020-06-18 03:11] chenjr0719 commented on #171
Hi @AWegnerGitHub, I think you can add description by:
[code]

And it will looks like:
<img width="1202" alt="image" src="https://user-images.githubusercontent.com/13619684/84973545-ed4efc80-b153-11ea-861f-5d80471bb7d5.png">

Please have a try. 😃 And, I will close this issue first. If you have any questions, please feel free to reopen it.

[2020-06-18 03:11] #171 closed

[2020-07-13 12:13] wereii opened #184 "[Bug] Content-Type inconsistency between doc.produces and doc.response"
**Bug description**

Using
[code]
does not set (it actually does in the code, but sets it to `None`) content type on the route.

_vs._

[code]
This does automagically set the content type to `application/json` on the route.

**Screenshots**
The screenshots of Swagger UI if this bug is related to it.
![image](https://user-images.githubusercontent.com/8504482/87301167-5d606080-c50f-11ea-95c7-6d2903c

[2020-07-21 14:13] dnutiu commented on #155
I can confirm that this bug is still happening; Downgrading to usjon==1.35 is not a solution, make silent bugs and memory leaks can occur. usjon==3.0.0 make the de-serialization stricter that's why exceptions occur, errors are no longer ignored.

[2020-07-29 02:10] wei-hai opened #186 "[Feature Request] Add configuration to turn off swagger in production environment"
Add some flag in the configuration to turn off the swagger page or show no URI.

[2020-07-29 02:15] wei-hai opened #187 "[Feature Request] Support content_type when using doc.response() and respect doc.produces() when using both"
The method `doc.response()` does not accept `content_type` and its default value is `application/json`, can we add `content_type` to it?

When using both `doc.produces()` and `doc.response()`, `doc.produces()` will be ignored, I suggest we either remove it to avoid confusion or respect it when using both.

[2020-08-11 13:58] ExpLog opened #188 "[Feature Request] Add description to path parameters"
I've started using sanic-openapi to document our APIs and I'm currently struggling to add a description to a route's path parameter. Since there's no documentation on how to do this, I decided to open this issue to see if I'm just missing something or if this is a legitimate feature request.

For example, I have a route that looks like this:
[code]

The Swagger page will automatically generate a p

[2020-08-11 14:02] ExpLog commented on #55
Me too, I actually just created a new issue requesting this before finding this one. Any news on this?

[2020-08-19 06:46] #147 closed

[2020-08-19 06:46] #156 closed

[2020-08-21 05:23] denisovkv commented on #186
Hello! What about next workaround:
[code]
Don't think this feature is relevant

[2020-08-21 07:42] ahopkins commented on #186
I would agree. Thank you for the thoughts but this doesn't seem like a feature that needs internal support.

[2020-08-21 07:42] #186 closed

[2020-09-04 15:05] ray-t1 commented on #163
This worked perfectly! Thanks Jacob

[2020-09-25 12:19] beruhan opened #191 "sanic_openapi AttributeError: __abstractmethods__"
**Describe the bug**
After I  upgrade my sanic to 20.6.3 and sanic-openapi to 0.6.2,It failed to start，It maybe some bug in new sanic-openapi

**error messages**
I used 4 workers,the error message as follows:
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu18.04

**Additional context**
[code]

[2020-10-11 07:17] #178 closed

[2020-10-12 21:17] nomed commented on #74
Hi,

tried on sanic 20.9.0 with no success.

Is it supposed to work also on more recent releases ?

[2020-11-03 16:47] digitalkaoz commented on #74
this was my attempt:

[code]

wont work neither, i check and all decorators are applied correctly, i cant spot the error here, anyone? @ashleysommer maybe?

[2020-11-04 18:37] quadhead commented on #74
My solution:
[code]
Seems a little bit more elegant...

[2020-11-14 04:24] #184 closed

[2020-11-15 21:14] opensorceror commented on #188
bump

[2020-12-14 16:32] pansila opened #193 "How do I document the parameters in the cookies?"
**Is your feature request related to a problem? Please describe your use case.**
I'd like to document the parameter in the cookies just as the ones in query and header.

**Describe the solution you'd like**
Is it possible to add the the location 'cookies'?

**Additional context**
@doc.consumes(doc.String(name='Token'), location='cookies')

[2020-12-14 20:05] ruckc commented on #178
please reopen this

[2020-12-15 09:22] ioggstream commented on #178
@ronnyhel FYI

[2020-12-16 12:33] #193 closed

[2020-12-17 22:32] ruckc commented on #178
@ioggstream @chenjr0719 - i've tried getting this PR to build with the tox config, but i can't figure out the black / isort incompatibility with the imports, I've tried following black's [guide](https://black.readthedocs.io/en/stable/compatible_configs.html) for it with no solution.

[2020-12-18 06:46] #188 closed

[2020-12-21 11:55] pansila opened #195 "[Bug] API can't show the document for query parameters when defined in class"
**Describe the bug**
Parameters are defined in the class and used in the location of 'query', but the the web page doesn't show them instead of an empty 'body' item. Parameters in the location of 'body' are fine.

**Screenshots**
1. can't see the document in the web page.
![image](https://user-images.githubusercontent.com/5125601/102774386-d5d42300-43c5-11eb-9b55-55d613dc1934.png)
2. can see the d

[2020-12-22 09:58] sdorgancs opened #196 "OpenAPI 3.0 spec"
Do you plan to implement Open API 3.0 Spec?

[2020-12-22 14:45] pansila commented on #195
The issue is also seen for the location of 'formData'

[2020-12-29 13:52] ruckc commented on #196
@sdorgancs we have the #194 PR in with the changes necessary for it, just waiting on owners to review/merge.

[2020-12-29 15:17] ahopkins commented on #196
I think @chenjr0719 is no longer active, and I'm here only for admin. I'm looking for some help in taking this and driving the project.

[2021-01-23 22:02] #191 closed

[2021-01-27 01:25] ruckc commented on #196
@ahopkins i can help test/ensure it works for my use case, but beyond that i'm not sure what i can do maybe @ioggstream can help given the work he did for OpenAPI spec 3.0

[2021-02-01 20:40] sbutz opened #199 "[Bug] Query Parameter of Type List incompatible with sanic"
**Description**
A clear and concise description of what the bug is. It there is error log, please provide it.
Declaring a query parameter of type List (see example below) is not parsed correctly by sanic RequestParameters.getlist().

[code]

The swagger ui proposes for inputing 1 and 2 for the parameter foo the following curl command:
[code]
[code]

**Expected behavior**
The default behaviour of s

[2021-02-09 20:42] kporika opened #200 "does not produce the doc for this end point"
@doc.consumes({'Authorization': str}, location='header')
@scoped('admin')
@doc.consumes(
    {"view":
            {
                "username": str,
                "password" :str,
                "email" : str,
                "first_name": str,
                "last_name" : str,
                "is_superuser" : bool
            }
    },
location="body")
async def add_user(request):
sanic==20.12

[2021-02-10 09:02] makeev opened #201 "[Bug] not works with app.add_route"
If you not add you handlers using decorators and not with blueprint, but simple using app.add_route, swagger will display nothing

[2021-02-10 09:08] makeev commented on #201
sorry, my misstake, urls was ended with slash

[2021-02-10 09:08] #201 closed

[2021-02-16 13:57] artcg opened #203 "[Feature Request] Docstring parsing"
Any interest in a feature whereby docstrings would be parsed to produce the documentation?

e.g.

[code]

Could be roughly equivalent to

[code]

This is something I am working on, but it might be cleaner to integrate with sanic_openapi

[2021-02-16 15:16] ahopkins commented on #203
I think that is a potentially beneficial implementation. The project needs some direction since there really is not anyone maintaining it so well right now. Is this something you would be interested in?

[2021-02-16 15:32] ahopkins commented on #203
@vltr and I were discussing possible alternatives for the future of this project. The more voices, the better.

[2021-02-17 13:06] artcg commented on #203
Yes, that could be possible...
An alternate approach I was thinking about was writing some decorator that could parse stuff from the request and pass it to the function while also adding the documentation decorators, something like for example

[code]

being equivalent to

[code]

Since the project I am working has a lot of boilerplate which looks like that, but undecided whether it would be worth

[2021-03-02 20:34] artcg commented on #203
Quick update on this, starting work on it, should have some code that has some ideas in a week or two

Will begin with the first idea (simple docstring parsing) supporting Google and ReST styles, won't go overkill on the parsing since I don't think there is too much to worry about if something is mis-parsed, would be an easy fix if a user reported it later...

The 2nd idea I like a bit better gene

[2021-03-02 20:44] artcg commented on #200
Please put code tags around the code so that your issue displays better

[2021-03-05 13:41] purbano-cardano commented on #200
It's because you're using a decorator @Scoped, and everything after that gets out of doc. I'm facing the same problem.

[2021-03-14 02:19] artcg commented on #195
schema is not supported in openAPI2 for query parameters, that is why, see https://swagger.io/specification/v2/ for more info

[2021-03-14 17:54] jacebrowning opened #209 "[Bug] Swagger validation error: consumes. is not of type `string`"
**Describe the bug**

Documenting query parameters following the provided examples results in a Swagger validation error.

**To Reproduce**

Define a route similar to [this](https://sanic-openapi.readthedocs.io/en/stable/sanic_openapi/decorators.html#query) example:

[code]

**Expected behavior**

This route should pass Swagger validation, but it does not, resulting in an error similar to the foll

[2021-03-16 07:20] #203 closed

[2021-03-16 09:19] #187 closed

[2021-03-16 16:00] artcg commented on #209
Should be fixed in https://github.com/sanic-org/sanic-openapi/pull/198, though that suggests "application/json" as a default, does that work for you?

[2021-03-16 16:35] jacebrowning commented on #209
Yeah, "application/json" seems to pass validation and the Swagger UI works as expected: https://github.com/jacebrowning/memegen/pull/603

[2021-03-16 18:30] ahopkins commented on #209
Can we close?

[2021-03-16 23:39] jacebrowning commented on #209
Yeah, I think so. A `0.6.x` release would be appreciated!

[2021-03-16 23:39] #209 closed

[2021-03-17 05:50] #195 closed

[2021-03-17 05:53] artcg commented on #196
Closed in #210

[2021-03-17 05:53] #196 closed

[2021-03-17 05:54] #200 closed

[2021-03-17 05:58] artcg commented on #199
I disagree that this a bug, since I think most people specifying a "list" would expect the default "csv" collectionFormat behaviour, however, would be open to a PR making this a keyword argument

The sanic request.getlist is unrelated to the naming of doc.List, just so happens to crossover

[2021-03-17 05:58] #199 closed

[2021-03-17 06:52] artcg commented on #108
The code in this example doesnt create any routes (`app.router.routes_all.items()` doesnt contain anything except swagger stuff, and the GET route for example does not work) so if there is a bug here it is to do with sanic, not sanic-openapi

[2021-03-17 06:52] #108 closed

[2021-03-21 15:51] artcg opened #215 "0.6.3 todo items"
0.6.3 todo items:

- [x] add sanic 21.3 to test environment and iron out any compatibility issues that might occur (@artcg)
- [x] change naming of oas3/ import exposing locations (@astagi did you want to do this?)
- [x] preparing docs for readthedocs -- @astagi  looking at it

next weekend would be a fine target from my end

future todo items:
-  better openapi validation across the board
- better

[2021-03-21 17:01] astagi commented on #215
hey @artcg I can take care of renaming no problem! Next week is ok for me!

[2021-03-21 19:41] ahopkins commented on #215
I will not be available to roll out the version next Sunday. But, Monday (2021-03-29) works for me.

[2021-03-22 09:49] MSusik opened #216 "[Bug] Incompatible with Sanic>=21.0"
**Describe the bug**

Can't start a simple app with Sanic 21.3. Works well with Sanic 20.12.2

[code]

**To Reproduce**
Run the example from the documentation with Sanic 21.3

**Environment (please complete the following information):**
 - OS: [e.g. Ubuntu] Docker build on top of python:3.8-slim-buster or WSL with Ubuntu 18.04
 - Version [e.g. 0.5.3] 0.6.2

[2021-03-22 09:52] artcg commented on #216
Yes sanic-openapi is broken with 21.3, should be fixed in release next monday. Hope you can use `sanic==20.12` until then...

[2021-03-22 09:52] MSusik commented on #216
Yes, that would work!

Thanks, I just was not sure if you are aware of this :)

[2021-03-23 16:56] artcg commented on #216
Would appreciate it if you would test against https://github.com/artcg/sanic-openapi/tree/s21

So you can install like this

`pip install git+https://github.com/artcg/sanic-openapi.git@s21`

It works for my organisations project at least :)

and make sure you update sanic to the latest release (21.3.2 released today/yesterday)

[2021-03-26 14:45] artcg commented on #216
Closing this since sanic 21.3 is now implemented

[2021-03-26 14:45] #216 closed

[2021-03-30 07:19] eblaudez opened #221 "[Bug]"
**Describe the bug**
With sanic 21.3.2 the service (app.run) does not start due to an Attribute Error.
Please notice that will work with previous versions of sanic and sanic-openapi (all will be broken after an upgrade of the packages)

**Screenshots**
No screen shot : service does not start

**To Reproduce**

* Install sanic 21.3.2 : pip3 install sanic==21.3.2
* Install sanic-openapi 0.6.2 : pip3

[2021-03-30 09:03] artcg commented on #221
Thanks for the report! This bug has been fixed, just waiting on a release, but you can use the code from the bugfix branch

`pip install git+https://github.com/artcg/sanic-openapi.git@s21`

Or downgrade to sanic 20.12 while you wait

[2021-03-30 09:03] #221 closed

[2021-03-31 05:47] liuyuzhou opened #222 "[Bug]when using in anaconda,find such error:AttributeError: 'Route' object has no attribute 'handler'"
[ERROR] Experienced exception while trying to serve
Traceback (most recent call last):
  File "E:\tools\anaconda\lib\site-packages\sanic\app.py", line 918, in run
    serve_single(server_settings)
  File "E:\tools\anaconda\lib\site-packages\sanic\server.py", line 725, in serve_single
    serve(**server_settings)
  File "E:\tools\anaconda\lib\site-packages\sanic\server.py", line 562, in serve
    t

[2021-04-01 16:21] artcg commented on #222
dupe of #221

[2021-04-01 16:21] #222 closed

[2021-04-01 16:36] astagi commented on #215
@artcg @ahopkins what about using '0.7.0' as release version? I think we should consider the next release more of a minor version than a patch.

[2021-04-01 16:39] artcg commented on #215
Anything is fine with me, I think ahopkins also was interested to switching to calendar versioning (so 21.3.0 for march 21)

[2021-04-02 02:13] liuyuzhou commented on #222
I use the newest code, the question still.
I checkout the newest code.
If use pip install,the version it the same as before.

[2021-04-02 02:14] liuyuzhou commented on #222
So,is the newest code merge to the master branch.

[2021-04-02 11:57] artcg commented on #222
No it is not in master branch, try checking out s21 branch of artcg/sanic-openapi

[2021-04-05 02:13] liuyuzhou commented on #222
it seems I can't see this branch,when will you merge this code to master?

[2021-04-07 02:51] HuRuWo opened #223 "[Bug]Warning: deploying to liunx with this library can cause major problems, especially for higher versions of Python and sanic."
**Describe the bug**
A clear and concise description of what the bug is. It there is error log, please provide it.

**Screenshots**
The screenshots of Swagger UI if this bug is related to it.

**To Reproduce**
Your code snippet or steps to reproduce the bug.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following informat

[2021-04-07 03:18] liukaiyang931 opened #224 "Oh, that's bullshit! It's too bad that my project is criticized by my leaders every day because of its running problems"
Oh, that's bullshit! It's too bad that my project is criticized by my leaders every day because of its running problems

[2021-04-07 08:35] ahopkins commented on #224
What is this in reference to? We would appreciate refraining from the usage of such language. Is there a constructive conversation that you would like to have, I am happy to engage.

[2021-04-07 09:39] liukaiyang931 commented on #224
When I add this library to my sanic project, my project will not work normally. I guess it is because I use Linux system, because I can work normally in win10 system

[2021-04-07 10:56] ahopkins commented on #224
If you would like some support from one of the volunteers that has built this platform or Sanic entirely in their free time, then I suggest you provide a more helpful message. There is no one that can attempt to assist you with what you have provided. If you would like someone to assist, or, if you believe you have found a bug, then by all means raise an issue and maybe someone will help.

[2021-04-07 10:56] #224 closed

[2021-04-07 14:04] #223 closed

[2021-04-13 07:45] chongtwo opened #225 "Route already registered: /swagger/<file_uri:/?.+> [GET,HEAD]"
sanic 20.12.2
sanci-openapi 0.6.2
centos 7.4

When I run my project through pycharm all work fine, but when I package my project through __pyinstaller__ and try to run the exe it cracks with the message that
[code]
I have seen #216 but it doesn't seem to help.

[2021-04-13 08:14] artcg commented on #225
Thanks for the report, i don't know about this one but one thing I can see which might help you is that your sanic version is outdated, could try version 20.12.3 which is the latest from the 2012 release,

would also recommend to try with sanic 18.12 and sanic 21.3 and see if either of those work

if not i could help you debug it if you share a small code sample which can recreate it

[2021-04-13 19:10] artcg commented on #225
Will close this but please do re-open if that doesn't solve your problem

[2021-04-13 19:10] #225 closed

[2021-04-23 07:02] chongtwo commented on #225
I've tried your suggestion but it didn't work.
The code is as below:
[code]

And I packaged the code by PyInstaller (pip install pyinstaller)
[code]
Went into the __dist__ directory that is made by the command above and ran the sanic_openapi_test.exe. The error appeared:
[code]
Hope you can help me solve this problem. Thanks!

[2021-04-23 07:11] chongtwo opened #226 "pyinstaller may cause problems with sanic and/or sanic-openapi"
(additional context added by sanic-openapi maintainer)

pyinstaller is a tool which bundles python and required libraries into an executable which should be able to be run regardless of the system having python installed

the issue below documents a potential problem with using this tool in combination with sanic-openapi

--

#225
I've tried your suggestion but it didn't work.
The code is as below

[2021-04-23 08:10] artcg commented on #226
Sorry to hear that! I unfortunately don't have access to any windows computers nor experience with pyinstaller so cant help you with this one then, but hope you can figure it out ...

[2021-04-23 09:13] chongtwo commented on #226
It is not specific to windows. This happens on linux too.

[2021-04-23 11:16] ahopkins commented on #226
I'll take a look in Sunday. Double check to make sure you have latest version of Sanic installed.

[2021-04-30 02:28] BadReese opened #227 "can not import openapi2_blueprint from sanic_openapi"
**Describe the bug**
can not import openapi2_blueprint from sanic_openapi, why?

**Screenshots**
`from sanic_openapi import openapi2_blueprint
ImportError: cannot import name 'openapi2_blueprint' from 'sanic_openapi' (/Users//miniconda3/envs/demo/lib/python3.8/site-packages/sanic_openapi/__init__.py)
`

**To Reproduce**
Your code snippet or steps to reproduce the bug.

**Expected behavior**
A clea

[2021-04-30 04:10] ahopkins commented on #227
There's a bunch of changes that need to be released. Probably this weekend.

[2021-05-05 06:43] chenshigithub commented on #227
from .openapi2 import doc, openapi2_blueprint
ModuleNotFoundError: No module named 'sanic_openapi.openapi2'

[2021-05-07 18:08] comic31 opened #228 "[UserWarning] Use instance.ctx._spec instead"
Hello 🖖,

Since the last version, a warning is shown upon starting sanic.

`UserWarning: Setting variables on Blueprint instances is deprecated and will be removed in version 21.9. You should change your Blueprint instance to use instance.ctx._spec instead.`

[code]

 - OS: Ubuntu
 - sanic-openapi==21.3.1 | sanic>=21.3.0

I created a pull request that fixes this warning

Thanks,

[2021-05-11 02:17] artcg commented on #228
🔥

[2021-05-11 02:17] #215 closed

[2021-05-11 02:17] #227 closed

[2021-05-12 03:45] Liudg002 opened #230 "When I run the following example, the following error occurs"
[2021-05-12 11:42:08 +0800] [99586] [INFO] Goin' Fast @ http://0.0.0.0:12000
[2021-05-12 11:42:08 +0800] [99586] [ERROR] Experienced exception while trying to serve
Traceback (most recent call last):
  File "/Users//.conda/envs/HyperDL/lib/python3.7/site-packages/sanic/app.py", line 918, in run
    serve_single(server_settings)
  File "/Users/xxx/.conda/envs/HyperDL/lib/python3.7/site-packages/san

[2021-05-12 04:50] ahopkins commented on #230
Which version of `sanic-openapi` are you using?

[2021-05-13 19:54] BilliAlpha opened #231 "[Feature Request][OpenApi3] Add support for enums"
I am migrating my project from openapi2 and I found out that the `choices` parameters has disappeared in favor of `enum`. However it seems that this parameter is not supported in sanic-openapi.

I suppose the implementation wouldn't be more complex than adding an `enum` field on the [`Schema`](https://github.com/sanic-org/sanic-openapi/blob/v21.3.1/sanic_openapi/openapi3/types.py#L26) object.

The

[2021-05-13 20:58] ahopkins commented on #231
@BilliAlpha Thanks. Would you be interested in taking a crack at a PR?

[2021-05-14 09:08] hsz1273327 opened #232 "[Bug]can not render all methods with the same url when use routes of Blueprint way"
**Describe the bug**
can not render all methods with the same url when use `routes of Blueprint` way

**Screenshots**
![api-1](https://user-images.githubusercontent.com/7850148/118247993-65de4a80-b4d6-11eb-9341-e6e4975d2fb4.PNG)

**To Reproduce**
Your code snippet or steps to reproduce the bug.

code as blow:

[code]

**Expected behavior**

there should have all method sections in `user` part,but

[2021-05-14 09:22] hsz1273327 opened #233 "[Bug] Decorator doc/openapi not work when using `routes of HTTPMethodView under Bluebprint instanc` way"
**Describe the bug**
 Decorator doc/openapi not work when using `routes of HTTPMethodView under Bluebprint instanc` way,

**Screenshots**
![api-2](https://user-images.githubusercontent.com/7850148/118249850-6972d100-b4d8-11eb-8c3a-c18df24ba376.PNG)

**To Reproduce**

+ `file1`

[code]

+ `userlistsource.py`

[code]

+ `usersource.py`

[code]

**Expected behavior**

there should be `summary`,and th

[2021-05-14 09:56] Liudg002 commented on #230
Sanic Version: 21.3.4

[2021-05-18 18:19] ahopkins commented on #233
I just was looking at this. Sanic supports decorators on methods:

Agreed. This should work, but does not.

[code]

This does work, but is not always a viable option.

[code]

[2021-05-19 05:56] ahopkins commented on #230
What example? How can I replicate this?

[2021-05-19 06:13] ahopkins commented on #232
[code]

![image](https://user-images.githubusercontent.com/166269/118764517-536f6280-b882-11eb-83b0-f4270e2b71bb.png)

Seems to work okay for me. One thing to note, `app.config.API_URI_FILTER = "all"` forces the inclusion of routes that end with `/`. Since you have the empty routes with `strict_slashes` on, they would be removed.

[2021-05-19 09:03] #233 closed

[2021-05-19 09:20] artcg commented on #230
Havent had time to look in detail at this, but  the "get_blueprinted_routes" function may be the issue, the chunk of code which is removed here

https://github.com/sanic-org/sanic-openapi/pull/218/commits/17505ed5e93ca20df8e401328245df38993db03c

was aiming to handle that case, however it may have been a misguided solution, definitely open to some better suggestion...

[2021-05-19 10:02] BilliAlpha commented on #231
Sorry for the delay in responding, but i'll take a look at it and try something.

[2021-05-19 10:21] artcg commented on #231
@BilliAlpha I havent tried using the new parameter structures yet, was planning on looking at it later today, but I find that adding the line     `    enum: List[str]` to L35 of openapi3/types.py allows me to do this

[code]

No idea if that solves your problem or not, feel free to try it out ...

[2021-05-19 10:38] ahopkins commented on #231
@artcg That would probably be a barebones usage.

But, it probably should be:

[code]

In which case we would need some logic on serialization to extract key/values from an enum.

[code]

[2021-05-19 10:50] BilliAlpha commented on #231
@ahopkins I just saw your comment, I'll adapt the PR to support python Enums too.

[2021-05-21 01:35] hsz1273327 commented on #232
thanks

[2021-05-21 01:35] #232 closed

[2021-06-08 11:48] amitabduls15 opened #237 "[Bug] Swagger cant show path variable"
I can't enter a path variable on my endpoint in swagger, but when using curl it does.
code:
[code]

Here is a screenshot of my swagger:
<img src="https://i.ibb.co/Pjq27Dp/image.png">

In the screenshot above the path variable I mean is *level*.

**Environment**
 - OS: arch linux last update 08 juni 2021
 - Browser : opera
 - Python : 3.9.5
 - Sanic :  20.12.3
 - sanic-openapi : 21.3.2

I don't kno

[2021-06-10 10:47] hsz1273327 commented on #237
same problem,but in HTTPMethodView way.

![image](https://user-images.githubusercontent.com/7850148/121512388-3d396a00-ca1c-11eb-9992-115906bd7118.png)

[code]

[2021-06-29 05:57] snakecy opened #238 "Method POST not allowed for URL"
**Describe the bug**
A clear and concise description of what the bug is. It there is error log, please provide it.

**Screenshots**
The screenshots of Swagger UI if this bug is related to it.
![image](https://user-images.githubusercontent.com/12490881/123744824-e79d0280-d8e1-11eb-9a1d-f974a4746bf8.png)

**To Reproduce**
Your code snippet or steps to reproduce the bug.

**Expected behavior**
A clea

[2021-06-29 07:11] ahopkins commented on #238
Can you please post the version of: `sanic`, `sanic-routing`, and `sanic-openapi` that you have installed? Also, do you have a snippet of code for the route?

[2021-07-01 14:17] artcg commented on #238
Please also add the expected behaviour as it is unclear to me what this screenshot is referring to

[2021-07-01 14:17] #238 closed

[2021-07-08 19:15] koug44 opened #239 "Can't handle duplicate path"
Here is the simple bug to show the bug. Sanic server has two handlers having the same path:

[code]

Swagger doc only includes one handler

![image](https://user-images.githubusercontent.com/4643678/124977941-224c1c80-dfff-11eb-9808-de02b006d052.png)

[2021-07-19 15:28] artcg commented on #239
Thanks for the report, will check that out over next couple days

[2021-07-26 06:39] amit-d-bahir opened #240 "[Bug] Even after excluding an endpoint from doc, it still shows the route on swagger, although not the contents of it."
**Describe the bug**
After doing, @doc.exclud(True) for an endpoint, it still shows the route on swagger. The contents of the endpoint are not accessible though

**Screenshots**
The screenshots of Swagger UI if this bug is related to it.
https://drive.google.com/file/d/1stDXlRAYL97GfhApTtfBqi1C8W4qjt3i/view?usp=sharing

**To Reproduce**
`from sanic import response, Blueprint`
`from sanic.request i

[2021-08-04 12:45] #239 closed

[2021-08-04 12:45] #240 closed

[2021-08-04 18:24] amit-d-bahir opened #245 "[Feature Request] Custom Ordering of Endpoints and Authorization"
**Is your feature request related to a problem? Please describe your use case.**

-  Is there a way in which I can give an ordering in which the endpoints are displayed on the UI? I just want to have one endpoint at the top always.
- Is there any way in which I can provide an argument in a decorator  so that a particular endpoint does not have authorization enabled (i.e the padlock icon is not sho

[2021-08-04 21:16] ahopkins commented on #245
You can control this with tags. They should appear in the order in which the tags are created.

[2021-08-05 03:34] amit-d-bahir commented on #245
I am able to group the endpoints using a tag. But the order in which those endpoints occur on the UI is random.
Is there any way I can have a particular tag always on top?

[2021-08-05 05:43] ahopkins commented on #245
You can customize with the [Swagger config](https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/)

[code]

Sounds like for your need, you might need to pass a function, which can only be done in the JS. I am not sure there is a good way to do that just now.

[2021-08-05 08:00] ahopkins commented on #245
To be :100: honest, it is not likely to be a feature that will be added to this package. I am actively working on [sanic-ext](https://github.com/sanic-org/sanic-ext) [Read more](https://community.sanicframework.org/t/openapi-next-generation-with-built-in-validation/843). Having more control over the static assets will be something available there, and should be a near drop-in replacement for `sani

[2021-09-20 04:46] bolorundurovj opened #248 "Cannot add `allowed options`/ choices to a query parameter"
So for an endpoint as shown below, how do i specify that the allowed values are :- day, week, month ?

Python Version: 3.8,
[Sanic-Openapi][1] version: 0.7.1

[code]

Please let me know if i need to add any other information/context. Thanks

  [1]: https://github.com/sanic-org/sanic-openapi

[2021-09-24 08:41] eeveefox opened #249 "[Feature Request] disable secure for individual route"
Is it possible to disable authorization for a particular router, as in exclude?

[2021-09-24 11:22] ahopkins commented on #249
Do you have a snippet of what you have done so far?

[2021-09-24 12:52] eeveefox commented on #249
`@doc.security([])`

for example

[2021-12-08 08:11] SerGeRybakov opened #250 "distutils package is depricated in python 3.10"
Hi there!

First of all many thanks for such awesome framework!

Just installed python 3.10.1 and Sanic updated to 21.9.3 in my project. The very first run of pytest was broken by deprication warning "The distutils package is deprecated and slated for removal in Python 3.12."

Full trace is
[code]

So for now I can not use Sanic-openapi (21.6.1) with python 3.10, what makes my really sad.
Can it b

[2021-12-08 10:35] ahopkins commented on #250
Thanks for the feedback. Happy to accept a PR if you'd like to take a crack at it.

This is the way we generally are handling version checking: https://github.com/sanic-org/sanic-ext/blob/main/sanic_ext/bootstrap.py#L45

Which brings me to my next point, have you seen [Sanic Extensions](https://sanicframework.org/en/plugins/sanic-ext/getting-started.html#features) yet? It is meant as the replaceme

[2021-12-08 17:14] ahopkins commented on #250
Hmm... we should remove that. Thanks for pointing that out.

[2021-12-27 07:17] ChihweiLHBird commented on #237
It appears that adding the parameter to `@doc.consumes(...)` with `location` can solve this issue as @nuxion mentioned above.

@amitabduls15, do you still have any problem with it?

[2022-01-05 09:54] morph027 opened #254 "[Feature Request] Create new Release for Sanic 21.12.0"
**Is your feature request related to a problem? Please describe your use case.**
Right now, i'm unable to use sanic-openapi with Sanic 21.12.0 via pip due to https://github.com/sanic-org/sanic-openapi/pull/253

**Describe the solution you'd like**
Please create a new release on pypi. I can add a PR for this, but was unsure about the version (21.12.0 or 22.1.1?).

[2022-01-05 10:26] ahopkins commented on #254
It should be versioned 21.12. TY.

[2022-01-05 15:43] morph027 commented on #254
Happy to help ;)

PR in #255

[2022-01-05 18:32] #254 closed

[2022-01-09 02:44] #230 closed

[2022-01-09 02:44] #226 closed

[2022-01-09 10:53] ahopkins commented on #249
This exists in Sanic Extensions and will not be added here.

[2022-01-09 10:53] #249 closed

[2022-03-02 10:16] #245 closed

[2022-04-20 03:53] #237 closed

[2022-05-26 10:03] CormacMOB opened #256 "[Feature Request] Allow default endpoint in OpenAPI V3 Blueprints to be configurable"
We use `/docs` instead of `/swagger` as the endpoint for our swagger documentation sites.  We feel that "docs" being short for "documentation" is more representative of what we are routing to than "swagger" being walking all cool and stuff.  We find that we need to then reroute traffic from `/docs to `/swagger` in the application startup logic.

I would like a means to override the string passed t

[2022-06-09 10:34] #256 closed, assigned to nobody

[2022-06-09 10:35] CormacMOB commented on #256
I was mistaken.